.location-container {
    position: relative;
  }
  
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popup-header h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .popup-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .detect-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .separator {
    color: #888;
    font-size: 14px;
  }
  
  .location-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .location-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .location-new-add-btn{
    background-color: transparent;
    padding:10px 20px;
    border: 1px solid gray;
    border-radius: 100px;
    font-size: 30px;
    color: #007bff;
  }

.detect-location-field{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}