
.home-card{
  display:flex;
  flex-direction:column;
  /* width:400px; */
  margin-bottom:60px;
}
.home-card>div{
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}
.home-card-image{
  /* width:400px; */
  height:350px;
}
.home-card-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
}
.home-card-text{
  margin:-30px auto;
  margin-bottom:-50px;
  height:300px;
  width:400px;
  background-color:#1D1C20;
  color:#fff;
  padding:20px;
}
.home-card-meal-type{
  font-style:italic;
}
.home-card-title{
  font-size:2.2rem;
  color: #86a26f !important;
  /* margin-bottom:20px; */
  /* margin-top:5px; */
}
.home-card-body{
  font-size:1rem;
  text-align: justify;
}
.home-card-price{
  width:200px;
  height:70px;
  background-color:#970C0A;
  color:#fff;
  margin-left:auto;
  font-size:1.50rem;
  display:flex;
  justify-content:center;
  align-items:center;
}
