body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* crud start */
.crud-top {
  padding-top: 20px;
}

.clients li {
  list-style-type: none;
  display: inline;
}

.edit-font {
  color: green;
  /* color: green;
  font-size: 22px; */
}

.delete-font {
  color: red;
  /* color: red;
  font-size: 22px; */
}

.add-modal {
  text-align: right;
}

.contact-person {
  padding-top: 20px;
  /* padding-bottom: 15px; */
}

hr {
  margin: auto;
}

.hr1 {
  padding-top: 20px;
}

.clients li .edit {

  color: rgb(11, 107, 11);
}

.clients li .eye {

  color: rgb(60, 71, 184);
}

.clients .delete {

  color: red;
}

/* .clients button  {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 4.9px 12px;
  border-radius: 3px;
} */
.search-highlight mark {
  background-color: #ffff80 !important;
  padding: 0 2px !important;
}

.clients li a {
  padding: 5px 6px;
  font-size: 16px !important;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 20px;
}

.eye {
  list-style-type: none;
  /* padding-top: 3px; */
}

.dupilicate-scroll {
  overflow-y: scroll;
  width: 480px;
}

.user-left {
  margin: 0px 5px;
}

.plus {
  float: right;
  border-radius: 10px;
  margin-top: 10px;

}

.yes-no {
  font-size: 16px;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0px 300px;
}

.sss {
  display: flex;

  min-height: 100vh;
  width: 100%;
}

/* .but-right {
    float: right;
} */
.back-but {
  border-radius: 5px;
  /* background-color: #0d6efd; */
  color: white;
}


/* multi select */
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  /* font-weight: bold; */
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  padding-right: 5px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #c8dff5;
}

#checkboxes input {
  margin-right: 5px;
}

/* mandatory */

.required::after {
  content: ' *';
  color: red;
  font-size: 20px;
}

.multiselect {
  width: 100%;
}

.pass {

  overflow-x: scroll;
  width: 1100px;

}

.over {
  overflow-x: scroll;
  max-width: 1300px;
  width: 100%;
  scrollbar-width: thin;
}

.tableHost {
  width: 100%;
  text-wrap: nowrap;

  /* border: 1px solid; */
}

.sidebar-nav .nav-link Link span:active {
  background-color: #18d26e;
}

.logout {
  max-width: 300px;
  height: 70px;
}

.font {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.password-toggle-icon {
  position: absolute;
  bottom: 13%;
  right: 24px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}

.multiselect {
  width: 30%;
  /* color:rgb(247, 222, 222) */
}

.eyes i {

  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 80px;
  transform: translateY(-50%);

}



.container {
  position: relative;
}

.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* backdrop-filter: blur(8px); */
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}



.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input-container input {
  flex: 1;
  padding-right: 30px;
  /* Adjust as needed */
}

.password-input-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
}




.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* Adjust height as needed */
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

/* .sidebar .sidebar-nav .nav-item .active {
  background-color: red;
} */
.sidebar ul li Link .active {
  background-color: red;
}

.line>h5 {
  padding-bottom: 10px;

}

.line1>h5 {
  padding-bottom: 10px;


}

/* .line h5{
  padding-left: 10px;
}  */
.span {
  padding-left: 7px;
}

.back li {
  display: inline;
  margin-right: 6px;
}

.back {
  float: right;
}

/* .img-jpg {
  width: 100px;
  border-radius: 50px;
  text-align: center;
  
} */
.img-jpg {
  object-fit: cover;
  /* margin-top: 100px; */
}

.img {
  text-align: center;
  align-items: center;
}

.line span {
  color: rgb(209, 93, 26);
}


.input-group>.custom-file {
  flex-grow: 1;
}

.input-group>.btn {
  flex-grow: 0;
  flex-shrink: 0;
}

.shadow {
  box-shadow: 2px 2px 5px rgb(5, 3, 3);
  border-color: rgb(219, 145, 70);
  padding: 30px;
  margin-right: 8px;
}

.shadow1 {
  margin-left: 5px;

}

/* .nav-item .nav-link.active {
  color: white !important;
  background-color: rgb(113, 113, 255) !important;
} */
.downaero {
  margin-left: 10px;
  /* margin-top: 5px; */
}

.truncate {
  display: inline-block;
  /* Or inline-flex */
  max-width: 100%;
  /* Set your desired max width */
  white-space: nowrap;
  /* Prevent wrapping */
  overflow: hidden;
  /* Hide overflow */
  text-overflow: ellipsis;
  /* Show "..." at the end */
  vertical-align: bottom;
  /* Optional, to align nicely */
}

.nav-link.active {
  color: #4154f1;
  background-color: #e9edf7;
}

/* Submenu Link Active State */
.submenu .nav-item .nav-link.active {
  background-color: #4696cb;
  color: white;
  font-weight: bold;
}

.submenu .nav-item .nav-link.active i {
  color: white;
}

.submenu .nav-item .nav-link.active img {
  color: white;
}

.h5-clr {
  color: gray;
  padding-top: 7px;
  font-size: 10px;
}

.tenant-bottom p {
  font-size: 12px;
}

.bold>h5 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

.tenant-top .tenant-bottom>p {
  font-size: 17px;
  word-break: break-all;
  overflow: hidden;

}

.social li {
  list-style-type: none;
  padding-top: 25px;
  padding-right: 20px;
  font-size: 25px;
  color: lightskyblue;
  display: inline;
}

.social {
  padding-top: 20px;
  text-align: center;
}

.social li :hover {
  color: red;
}

.image img {
  width: 100%;
}

/* .hover .card :hover {
 
  background-color: rgb(247, 111, 134);
  transition: 2s;
} */
.bold p {
  font-size: 13px;
}

.image {
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #f5f5f5;
  overflow: hidden;
  /* padding: 20px; */
  padding: 0px 0px;
}

.images img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin-top: 30px;
}

.profiles img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;

}

.short img {
  width: 45px;
  height: 45px;
  border-radius: 50%;

}

.tenant-top {
  padding-top: 15px;
  padding-left: 10px;
}

.tenant-top h5 {
  color: #012970;
}

.tenant-bottom h5 {
  padding-top: 10px;
}

.tenant-bottom p {
  font-size: 18px;
}

.image-color {
  background-color: #d6e3e7;
  text-align: center;
  /* border-radius: 10px; */
}

.outline {
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 8px 0px #ddd; */
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  border-color: rgb(219, 145, 70);
}


.curser {
  cursor: pointer;
  padding: 20px;

}

.img-width {
  width: 38px;
  padding-bottom: 7px;

}

.bbb {
  font-size: 12px;
  border: none;
  margin-left: 5px;
  padding: 0px 4px;

}

.tenatnt-ref-container {
  padding: 15px;
}

.tenant-contact-ref-info-con .contact-ref-title {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  color: #012970;
}

.tenatnt-ref-container .contact-ref-person-con {
  background-color: #f1f1f1;
  border-radius: 5px 5px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.tenatnt-ref-container .contact-ref-person-con .ref-title {
  font-size: 12px;
  font-weight: bold;
}

/* .tenatnt-ref-container .contact-ref-person-con .left{
}
.tenatnt-ref-container .contact-ref-person-con .right{
} */
.tenatnt-ref-container .contact-ref-person-con .image-ref {
  text-align: left;
  width: 100%;
  border: 3px solid #d6e3e7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 5px;
}

.tenatnt-ref-container .contact-ref-person-con .image-ref img {
  /* margin-top: 0px;
  padding: 15px;
  max-width: 100%; */
  width: 74px;
  height: 74px;
  border-radius: 50px;
}

.tenatnt-ref-container .contact-ref-details .sub-title {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
}

.tenatnt-ref-container .contact-ref-details p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  overflow: hidden;
  word-break: break-all;
}

.left-join {
  padding: 0px 5px;
}

.right-join {
  padding: 0px 15px;
}

.rights-join {
  padding: 0px 5px;
}

/* body {
  
font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
} */



#file {
  display: none;
}



.modals {

  padding: 50px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.modals .icon {
  font-size: 45px;
  color: #7684ff;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 44px;
}

.modals h3 {
  margin-top: 15px;
  font-size: 20px;
}

.modals p {
  font-size: 14px;
  color: #555;
  margin: 10px 0 20px;
}

.modals .buttons {
  display: flex;
  justify-content: center;
}

.modals button {
  width: 20%;
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modals .no-btn {
  color: #7684ff;
  border: 2px solid #7684ff;
  background: #fff;
  margin-right: 10px;
}

.modals .yes-btn {
  color: #fff;
  background: #7684ff;
}


 .disabled-button {
   cursor: not-allowed;
 }

 .disabled-button:disabled {
   opacity: 0.6;
 }