.dashboard-first-card {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.151);
  border-radius: 12px;
}

.dashboard-first-card-header {
  font-size: 20px;
  color: var(--purple-color);
}

.form-select:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--purple-color) !important;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
}

.dashboard-card {
  flex: 0 1 calc(33% - 14px);
  /* min-height: 220px; */
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
}

.dashboard-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-decoration {
  position: absolute;
  bottom: -15px;
  right: -17px;
  pointer-events: none;
  z-index: 0;
}

.card-decoration img {
  width: 270px;
  height: 270px;
  opacity: 0.9;
}

.dashboard-card.card-white:hover {
  background: linear-gradient(135deg, #f6fafc, #e7e8e9);
}

.dashboard-card.card-white:hover .card-icon {
  color: #8ac43f !important;
  opacity: 0.8;
}

.dashboard-card.card-white:hover .card-text {
  color: black !important;
  opacity: 0.8;
}

.dashboard-card.card-white:hover .card-arrow a {
  color: #340c62 !important;
}

.dashboard-card.card-white:hover .card-arrow {
  background-color: white !important;
}

.card-text {
  opacity: 0.8;
}

.card-text i {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.card-icon {
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--purple-color);
}

.card-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.card-text p {
  font-size: 1rem;
  opacity: 0.85;
  margin-top: 6px;
}

.card-arrow {
  margin-top: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  color: black;
}

.card-arrow a {
  color: var(--purple-color);
  text-decoration: none;
}

/* ---------- Responsive ---------- */
@media (max-width: 1024px) {
  .dashboard-card {
    flex: 0 1 calc(50% - 14px);
  }
}

@media (max-width: 425px) {
  .dashboard-card {
    min-width: 360px;
  }
}

@media (max-width: 375px) {
  .dashboard-card {
    min-width: 300px;
  }
}

@media (max-width: 320px) {
  .dashboard-card {
    min-width: 250px;
  }
}

/* chart */

#chartContainer {
  height: 370px;
  width: 100%;
}

.canvasjs-chart-canvas{
  width: 100% !important;
}

.canvasjs-chart-credit{
  display: none !important;
}
