@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";
.marq-section {
    marquee {
        p {
            margin: 0 !important;
        }
    }
}

.toast-error {
    background-color: #630332;
    /* Custom background color for error toasts */
    color: #fff;
    /* Optional: change text color to ensure contrast */
}

.flex-center {
    display: flex;
    align-items: center;
    place-content: center;
}

.footer-end {
    justify-content: end !important;
}

.page-content {
    min-height: calc(100vh - 70px);
}

.mini-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-top .ag,
.header-top .pg {
    cursor: pointer;
    width: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.header-top .head-fix-icn {
    position: fixed;
    right: 20px;
    z-index: 9999;
}

.header-top .pg {
    background-color: #fff;
    color: #630332;
}

a.navbar-brand img {
    width: 100%;
}

.modal-header {
    background: #521231;
    color: #fff;
    text-align: center;
    a {
        color: #521231;
    }
}

// .modal-footer {
//     justify-content: center;
//     background: #521231;
//     color: #fff;
//     text-align: center;
// }
.qmcBtn1 {
    a:hover {
        color: #777;
        text-decoration: none;
        // background: #600435 !important;
    }
    a {
        color: #5c0931;
        padding: 6px 18px;
    }
}

.modal-footer {
    justify-content: center;
    border-top: 0px solid #dee2e6;
}

// .modal-footer button {
//     background: #521231 ;
// }
.nav-item.active {
    border-bottom: 3px solid white;
    a {
        background: transparent;
    }
    a:hover:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: -1;
    }
}

.nav-item {
    a {
        height: 56px;
        line-height: 56px;
        padding: 0 25px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        position: relative;
    }
}

nav.navbar {
    padding: 0px;
}

.qmcBtn {
    text-align: right;
    a:hover {
        color: #fff;
        text-decoration: none;
        background: #600435 !important;
    }
    a {
        padding: 10px 10px;
    }
}

.modal-header button {
    color: #fff !important;
}

.menu-mobile {
    position: absolute;
    width: 100%;
    background: #1c1c1c;
    /* height: -webkit-max-content; */
    /* height: calc(100vh - 0px); */
    /* right: 50px; */
    top: 40px;
    z-index: 1;
}

.disabled {
    pointer-events: none;
}

.stricky-header {
    position: fixed;
    top: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    .menu-mobile {
        top: 85px;
    }
    button.navbar-toggler {
        padding: 26px;
    }
}

.logo-small img {
    width: 40% !important;
}

@media screen and (max-width: 600px) {
    .qmcBtn {
        text-align: center;
    }
}

.activetab {
    color: #495057 !important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tabcolor {
    color: #495057 !important;
}

.tabcolor {
    .nav-item {
        a {
            height: 56px;
            line-height: 56px;
            padding: 0 25px;
            color: #495057 !important;
            font-size: 14px;
            font-weight: 500;
            position: relative;
        }
    }
}

.nav-tabs {
    border-bottom: 2px solid #e2535a;
}

.form-control[readonly] {
    background-color: white !important;
}

.modal-xl .modal-xl {
    max-width: 100%;
}

.selected-dated {
    border: 1px solid #000 !important;
    background-color: #bc2e27 !important;
    color: #fff !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%) !important;
}

.slotavailable {
    background-color: #e0f1b5;
    cursor: pointer;
}

.btncolor {
    color: #fff;
    background-color: #630332;
}

.historybtn {
    color: #fff;
    background-color: #630332;
    border-color: #630332;
}

p {
    text-align: justify !important;
}

div {
    text-align: justify !important;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: justify !important;
}

.copyright {
    margin-top: 54px;
}