.emptySpacer {
    height: 30px;
}
.iwh-title {
    color: #333;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalise;
    margin-bottom: 30px;
    text-align: left;
    font-family: Montserrat;
}
.wpb_wrapper p {
    color: #777777;
    font-size: 15px;
    line-height: 28px;
    font-family: Montserrat;
    text-align: left;
}
.qmcBtn {
    a:hover {
        color: #777777;
        text-decoration: none;
        // background: #600435 !important;
    }
    a {
        color: #5c0931;
        padding: 6px 18px;
    }
}
.bgt-dark {
    background: #5c0931;
    font-size: 16px;

}
.row img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;    
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    margin-bottom: 20p;
}
.img-title {
    text-align: left;
    color: #333;
    font-size: 28px;
    line-height: 48px;
    margin: 0 auto;
}

p{
    text-align: justify !important;
}
div{
    text-align: justify !important;
}

h1,h2,h3,h4,h5{
    text-align: justify !important;
}