<app-nav></app-nav>
<div class="successpage-page">
  <div class="emptySpacer" style="height: 40px"></div>
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="wpb_wrapper">
          <div class="iw-heading">
            <h4 class="iwh-title">
              {{ "successPage.thankscontent" | translate }}
            </h4>
          </div>
        </div>
        <div class="wpb_wrapper">
          <div class="emptySpacer"></div>
          <h5>
            <b> {{ "successPage.submitcontent" | translate }}</b>
          </h5>
          <div class="emptySpacer"></div>
          <p style="text-align: justify">
            {{ "successPage.submitcontent1" | translate }}
          </p>
          <div class="qmcBtn">
            <p>
              {{
                "successPage.For any further details, please contact us at"
                  | translate
              }}
              <a href="mailto:careers@qatarmedicalcenter.com"
                >careers&#64;qatarmedicalcenter.com</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="emptySpacer"></div>
  <div class="container">
    <div class="col-md-12">
      <!-- <div class="wpb_wrapper"> -->
      <h5 style="padding-bottom: 15px">
        {{ "successPage.value" | translate }}
      </h5>
      <figure class="row img">
        <img src="assets/images/s1.PNG" />
      </figure>

      <div class="emptySpacer"></div>

      <h5 style="padding-bottom: 15px">
        <u>{{ "successPage.Know more about us" | translate }}</u> :
      </h5>
      <p>
        {{ "successPage.Our Values" | translate }}
      </p>

      <figure class="row img">
        <img src="assets/images/s2.PNG" />
      </figure>
      <div class="emptySpacer"></div>

      <h5 style="padding-bottom: 15px">
        {{ "successPage.Our Supporting Values" | translate }}
      </h5>
      <p>
        {{
          "successPage.Our supporting VALUES are guided by the principles of"
            | translate
        }}
        <b style="color: green">{{ "successPage.AIM" | translate }}</b>
      </p>
      <figure class="row img">
        <img src="assets/images/s3.PNG" />
      </figure>

      <!-- </div>                -->
    </div>
  </div>
  <!-- <div class="container">
        <div class="row">
            <div class="emptySpacer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wpb_wrapper">
                            <div class="iw-heading">
                                <h4 class="iwh-title">OUR GLOBAL PRESENCE</h4>
                            </div>
                        </div>
                        <figure class="wpb_wrapper row img">
                            <img src="assets/images/careers 1.jpg">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  <div class="emptySpacer"></div>
</div>
<app-footer></app-footer>
