.marq-section {
    marquee {
        p {
            margin: 0 !important;
        }
    }
}

.header-top .ag,
.header-top .pg {
    cursor: pointer;
    width: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.header-top .head-fix-icn {
    position: fixed;
    right: 20px;
    z-index: 9999;
}

.header-top .pg {
    background-color: #fff;
    color: #630332;
}

a.navbar-brand img {
    width: 100%;
    max-width: 315px;
    padding: 10px 0;
}

.modal-header {
    background: #521231;
    color: #fff;
    text-align: center;
    a {
        color: #521231;
    }
}

// .modal-footer {
//     justify-content: center;
//     background: #521231;
//     color: #fff;
//     text-align: center;
// }
.qmcBtn1 {
    a:hover {
        color: #777;
        text-decoration: none;
        // background: #600435 !important;
    }
    a {
        color: #5c0931;
        padding: 6px 18px;
    }
}

.modal-footer {
    justify-content: center;
}

.modal-footer button {
    background: #521231;
}

.nav-item.active {
    border-bottom: 3px solid white;
    a {
        background: transparent;
    }
    a:hover:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: -1;
    }
}

.nav-item {
    a {
        height: auto;
        // line-height: 56px;
        // padding: 20px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        position: relative;
    }
}

nav.navbar {
    padding: 0px;
}

.arrowBlinkStyle {
    border-radius: 50%;
    @keyframes glowing1 {
        0% {
            background-color: #521231;
            box-shadow: 0 0 5px #521231;
        }
        50% {
            background-color: rgb(255, 255, 255);
            //   color: rgb(255,255,255) !important;
            box-shadow: 0 0 20px rgb(255, 255, 255);
        }
        100% {
            background-color: #521231;
            box-shadow: 0 0 5px #521231;
        }
    }
    animation: glowing1 1300ms infinite;
}

.blinkStyle {
    @keyframes glowing {
        0% {
            background-color: #521231;
            box-shadow: 0 0 5px #521231;
        }
        50% {
            background-color: #521231;
            color: #521231;
            box-shadow: 0 0 20px#521231;
        }
        100% {
            background-color: #521231;
            box-shadow: 0 0 5px #521231;
        }
    }
    animation: glowing 1300ms infinite;
}

.qmcBtn {
    // text-align:right;
    padding: 0px !important;
    a:hover {
        color: #fff;
        text-decoration: none;
        background: #600435 !important;
    }
    a {
        padding: 10px 10px;
    }
}

.modal-header button {
    color: #fff !important;
}

.menu-mobile {
    position: absolute;
    width: 100%;
    background: #1c1c1c;
    /* height: -webkit-max-content; */
    /* height: calc(100vh - 0px); */
    /* right: 50px; */
    top: 40px;
    z-index: 1;
}

// .disabled{
//     pointer-events: none;
// }
.stricky-header {
    position: fixed;
    top: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    .menu-mobile {
        top: 85px;
    }
    button.navbar-toggler {
        padding: 26px;
    }
    background: #fff;
}

.logo-small img {
    width: 40% !important;
}

.homeBookBtn {
    margin-right: 10px;
}

@media screen and (max-width:600px) {
    .qmcBtn {
        text-align: center;
    }
}

@media screen and (max-width:992px) {
    .qmcBtn {
        font-size: 12px;
    }
}

@media screen and (max-width:768px) {
    .qmcBtn {
        margin-bottom: 3px;
    }
}

@media screen and (max-width:330px) {
    .homeBookBtn {
        margin-right: 4px;
    }
}

@media screen and (max-width:576px) {
    .qmcBtn {
        justify-content: left !important;
        .homeBookBtn {
            margin-left: 2px;
        }
    }
}

@media screen and (max-width:415px) {
    .qmcBtn {
        font-size: 8px;
        //    justify-content: left !important;
        .qmcBtn1 {
            height: fit-content;
            margin-top: 5px;
        }
    }
}

p {
    text-align: justify !important;
}

div {
    text-align: justify !important;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: justify !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close */
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-item {
    color: #212529 !important;
}

#dropdownMenuButton {
    text-align: start !important;
}

.dropdown-item {
    color: #6f6f6f !important;
}

//   .disabled {
//     opacity: 0.6;
//     cursor: not-allowed !important;
//     pointer-events: none;
//   }