<app-nav></app-nav>
<div class="contact-page">
  <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="emptySpacer"></div>
                <div class="wpb_wrapper">
                    <p class="description" style="text-align: center;">To Book a Medical Referral Appointment call us at +91 44 6133 1333. For any questions or clarifications regarding your Visa Medical Process, contact us by calling or sending an email.</p>
                    <p class="description" style="text-align: center;"><b>Call us at -</b> +91 44 6133 1333</p>
                    <p class="description" style="text-align: center;"><b>Email us at -</b>: info&#64;qatarmedicalcenter.com</p>
                    <h3 style="text-align: center;"><a class="iwh-title title">{{('contactPage.contentTitle.Business Hours') | translate}}</a></h3>
                            <p class="description" style="text-align: center;">{{('contactPage.contentText.Monday to Friday - 8:30 AM to 5:30 PM') | translate}}<br>Saturday - 8:30 AM to 1:00 PM<br>
                                <span class="mat">*</span> Business hours might extend depending on the number of applicants at the center.</p>

                </div>
            </div>
        </div>
    </div> -->
  <div *ngIf="country == 'India'">
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.REACH US" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{ "contactPage.contentTitle.Email ID" | translate }} :
                  info&#64;qatarmedicalcenter.com<br />{{
                    "contactPage.contentText.Contact Number : +91 44 6133 1333"
                      | translate
                  }}
                </p>
              </div>

              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.Business Hours" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.Monday to Friday - 8:30 AM to 5:30 PM"
                      | translate
                  }}<br />{{
                    "contactPage.contentText.Saturday - 8:30 AM to 1:00 PM"
                      | translate
                  }}
                  <br />
                  <span class="mat">*</span>
                  {{
                    "contactPage.contentText.Business hours might extend depending on the number of applicants at the center."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
              <div class="col">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.co.in/maps/place/Qatar+Visa+Center/@28.6177889,77.2773206,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce30154923e57:0x7abd330584af3a7e!8m2!3d28.6177425!4d77.2794144"
                      target="_blank"
                      >{{ "contactPage.contentTitle.Delhi" | translate }}</a
                    >
                  </h3>
                </div>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.Delhi - Unit no. 2, Lower Ground Floor"
                      | translate
                  }},
                  {{
                    "contactPage.contentText.Parsvnath Mall, Akshardham Metro Station, Akshardham, New Delhi - 110092."
                      | translate
                  }}
                </p>
              </div>
              <div class="col">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.co.in/maps/place/Stemz+Healthcare/@19.05961,72.8531096,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7c9852d870337:0xa12e2a890d71e12d!8m2!3d19.05961!4d72.8552983"
                      target="_blank"
                      >{{ "contactPage.contentTitle.MUMBAI" | translate }}</a
                    >
                  </h3>
                </div>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.Hallmark Business Plaza, 2nd floor, Opposite Gurunanak Hospital, Bandra East Mumbai."
                      | translate
                  }}
                </p>
              </div>
              <div class="col">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.co.in/maps/place/Bengal+Intelligent+Park/@22.570043,88.4302625,17z/data=!3m1!4b1!4m5!3m4!1s0x3a0275adda5b55ab:0x2127d92889f189fc!8m2!3d22.570043!4d88.4324512"
                      target="_blank"
                      >{{ "contactPage.contentTitle.KOLKATA" | translate }}</a
                    >
                  </h3>
                </div>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.BIPL Building Gamma, First Floor, Bengal Intelligent Park, Block EP & GP, Plot A2 & M2, Sector V Salt Lake Electronic Complex, Bidhan Nagar, Kolkata-700 091."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
              <div class="col">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.co.in/maps/place/Qatar+Visa+Center/@17.4424377,78.3851017,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb9119d487b091:0x31aa5141d80b5bf!8m2!3d17.4424377!4d78.3872904"
                      target="_blank"
                      >{{ "contactPage.contentTitle.HYDERABAD" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.Krishe Sapphire, Ground Floor, Hitech City Rd, Vittal Rao Nagar, Madhapur, Hyderabad, Telangana 500081."
                      | translate
                  }}
                </p>
              </div>
              <div class="col">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.co.in/maps/place/Stemz+Healthcare/@13.0467494,80.192992,18z/data=!3m1!4b1!4m5!3m4!1s0x3a52670a3067f8f9:0x1b3d874bec10e937!8m2!3d13.0467494!4d80.1940863"
                      target="_blank"
                      >{{ "contactPage.contentTitle.CHENNAI" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.No. 136, Shyalama Towers, 1st Floor, Arcot Road, Vadapalani, Chennai."
                      | translate
                  }}
                </p>
              </div>
              <div class="col">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.co.in/maps/place/Qatar+Visa+Center/@26.8711655,81.0118431,17z/data=!3m1!4b1!4m5!3m4!1s0x399be31b2e20dd57:0x94e137efefea43b7!8m2!3d26.8711655!4d81.0140318"
                      target="_blank"
                      >{{ "contactPage.contentTitle.LUCKNOW" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.2nd floor, BBD Viraj Tower, Vibhuti Khand,Gomti Nagar, Lucknow."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
              <div class="bangalignment">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.co.in/maps/place/Qatar+Visa+Center/@10.0149815,76.2995336,17z/data=!3m1!4b1!4m5!3m4!1s0x3b080d08b1e57813:0x3918557908ad4708!8m2!3d10.0149815!4d76.3017223"
                      target="_blank"
                      >{{ "contactPage.contentTitle.Kochi" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center; width: 50%">
                  {{
                    "contactPage.contentText.National Building, Pearl Star, Ground Floor, Edappally Raghavan Pillai Rd, Devankulangara, Mamangalam, Ernakulam, Kerala."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="emptySpacer"></div>
  </div>

  <div *ngIf="country == 'Sri Lanka'">
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.REACH US" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{ "contactPage.contentTitle.Email ID" | translate }} :
                  info&#64;qatarmedicalcenter.com<br />{{
                    "contactPage.contentText.Contact Number : +94 117942999"
                      | translate
                  }}
                </p>
              </div>

              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.Business Hours" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.Monday to Friday - 8:30 AM to 5:30 PM"
                      | translate
                  }}<br />{{
                    "contactPage.contentText.Saturday - 8:30 AM to 1:00 PM"
                      | translate
                  }}
                  <br />
                  <span class="mat">*</span>
                  {{
                    "contactPage.contentText.Business hours might extend depending on the number of applicants at the center."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
              <div class="bangalignment">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.com/maps/place/Qatar+Visa+Centre+and+Medical+Centre/@6.9069606,79.9023863,21z/data=!4m12!1m6!3m5!1s0x3ae25938cd93a621:0x642b6a7d4320f86f!2sQatar+Visa+Centre+and+Medical+Centre!8m2!3d6.9069593!4d79.9025231!3m4!1s0x3ae25938cd93a621:0x642b6a7d4320f86f!8m2!3d6.9069593!4d79.9025231"
                      target="_blank"
                      >{{ "contactPage.contentTitle.Colombo" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center; width: 50%">
                  {{
                    "contactPage.contentText.No.475 /3, Sentra Super City, Sri Jayawardenepura MW, Rajagiriya, Kotte, Sri Lanka."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>

    <div class="emptySpacer"></div>
    <div class="emptySpacer"></div>
  </div>
  <div *ngIf="country == 'Nepal'">
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.REACH US" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{ "contactPage.contentTitle.Email ID" | translate }} :
                  info&#64;qatarmedicalcenter.com<br />
                  {{
                    "contactPage.contentText.Contact Number : +977 15970029"
                      | translate
                  }}
                </p>
              </div>

              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.Business Hours" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{ "contactPage.contentText.bangalaornepaltime" | translate }}
                  <br />
                  <span class="mat">*</span>
                  {{
                    "contactPage.contentText.Business hours might extend depending on the number of applicants at the center."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
              <div class="bangalignment">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.com/maps/place/Salesberry+Department+Store,+Chakrapath/@27.7556378,85.1702467,10.25z/data=!4m5!3m4!1s0x39eb19839f8e3f3b:0x6074373d8092690b!8m2!3d27.7376771!4d85.3411049"
                      target="_blank"
                      >{{ "contactPage.contentTitle.Kathmandu" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center; width: 35%">
                  {{
                    "contactPage.contentText.Ward no. 4 Maharajgunj Chakrapath Kathmandu Nepal."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>

    <div class="emptySpacer"></div>
    <div class="emptySpacer"></div>
  </div>
  <div *ngIf="country == 'Bangladesh'">
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.REACH US" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{ "contactPage.contentTitle.Email ID" | translate }} :
                  info&#64;qatarmedicalcenter.com<br />
                  {{
                    "contactPage.contentText.Contact Number : +880 9666 777 101"
                      | translate
                  }}
                </p>
              </div>

              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.Business Hours" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{ "contactPage.contentText.bangalaornepaltime" | translate }}
                  <br />
                  <span class="mat">*</span>
                  {{
                    "contactPage.contentText.Business hours might extend depending on the number of applicants at the center."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
              <div class="col-md-6 bangalignment">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.co.in/maps/place/Rupayan+Trade+Center,+114+Kazi+Nazrul+Islam+Ave,+Dhaka+1205,+Bangladesh/@23.7455446,90.3931743,17z/data=!3m1!4b1!4m5!3m4!1s0x3755b896706bb089:0xb56f55b074efcf06!8m2!3d23.7455806!4d90.3953651?hl=en&authuser=0"
                      target="_blank"
                      >{{ "contactPage.contentTitle.Dhaka" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center; width: 50%">
                  {{
                    "contactPage.contentText.Rupayan Trade Center at 114, Kazi Nazrul Islam Avenue (11th Floor), Bangla Motor, Ramna, Dhaka-1000, Bangladesh."
                      | translate
                  }}
                </p>
              </div>
              <div class="col-md-6">
                  <div class="addrHeading">
                      <h3 style="text-align: center;"><a class="iwh-title title" href="https://www.google.com/maps/place/Qatar+Visa+center/@24.8869174,91.8807043,17z/data=!4m12!1m6!3m5!1s0x3751abbe968ff133:0x9c8f7699c606ea4b!2sQatar+Visa+center!8m2!3d24.8869125!4d91.882893!3m4!1s0x3751abbe968ff133:0x9c8f7699c606ea4b!8m2!3d24.8869125!4d91.882893" target="_blank">{{'contactPage.contentTitle.Sylhet' | translate}}
                          </a></h3>
                  </div>
                  <p class="description" style="text-align: center;">{{'contactPage.contentText.Garden Tower, 2nd Floor, Sahajalal Bridge,Link Road, PS : Kotwali,Sylhet - 3100, Bangladesh.'|translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>

    <div class="emptySpacer"></div>
    <div class="emptySpacer"></div>
  </div>

  <div *ngIf="country == 'Pakistan'">
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.REACH US" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{ "contactPage.contentTitle.Email ID" | translate }} :
                  info&#64;qatarmedicalcenter.com<br />
                  {{
                    "contactPage.contentText.Contact Number : +92 51 8439384"
                      | translate
                  }}
                </p>
              </div>

              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.Business Hours" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.Monday to Friday - 8:30 AM to 5:30 PM"
                      | translate
                  }}<br />{{
                    "contactPage.contentText.Saturday - 8:30 AM to 1:00 PM"
                      | translate
                  }}
                  <br />
                  <span class="mat">*</span>
                  {{
                    "contactPage.contentText.Business hours might extend depending on the number of applicants at the center."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
              <div class="bangalignment">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.com/maps/place/33%C2%B042'16.4%22N+73%C2%B004'59.0%22E/@33.704557,73.0830432,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d33.704557!4d73.0830432?shorturl=1"
                      target="_blank"
                      >{{ "contactPage.contentTitle.Islamabad" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center; width: 60%">
                  {{
                    "contactPage.contentText.Gerry’s Building, 1-A, I & T Center, G-6, Islamabad, Pakistan"
                      | translate
                  }}
                </p>
              </div>
              <div class="col">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.com/maps/place/Gerry's+Visa/@24.824326,67.0438824,15z/data=!4m5!3m4!1s0x0:0x8a006f4ae41d3a36!8m2!3d24.8243552!4d67.0439221?shorturl=1"
                      target="_blank"
                      >{{ "contactPage.contentTitle.Karachi" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.Bahria Complex IV, 4th Floor, Main Chaudhary Khaliq UZ Zaman Road, Gizri Road, Clifton area Navy Housing Society, Karachi, Pakistan."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>

    <div class="emptySpacer"></div>
    <div class="emptySpacer"></div>
  </div>
  <div *ngIf="country == 'Philippines'">
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.REACH US" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{ "contactPage.contentTitle.Email ID" | translate }} :
                  info&#64;qatarmedicalcenter.com<br />
                  {{
                    "contactPage.contentText.Contact Number : +632 85282554"
                      | translate
                  }}
                </p>
              </div>

              <div class="col">
                <h3 style="text-align: center">
                  <a class="iwh-title title">{{
                    "contactPage.contentTitle.Business Hours" | translate
                  }}</a>
                </h3>
                <p class="description" style="text-align: center">
                  {{
                    "contactPage.contentText.Monday to Friday - 8:30 AM to 5:30 PM"
                      | translate
                  }}<br />{{
                    "contactPage.contentText.Saturday - 8:30 AM to 1:00 PM"
                      | translate
                  }}
                  <br />
                  <span class="mat">*</span>
                  {{
                    "contactPage.contentText.Business hours might extend depending on the number of applicants at the center."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>
    <div class="separator"></div>
    <div class="emptySpacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
              <div class="bangalignment">
                <div class="addrHeading">
                  <h3 style="text-align: center">
                    <a
                      class="iwh-title title"
                      href="https://www.google.com/maps/place/Qatar+Visa+Center/@14.5307686,120.9807942,15z/data=!4m5!3m4!1s0x0:0x7cf18c4bbf3ae8a2!8m2!3d14.5307686!4d120.9807942"
                      target="_blank"
                      >{{ "contactPage.contentTitle.Manila" | translate }}
                    </a>
                  </h3>
                </div>
                <p class="description" style="text-align: center; width: 50%">
                  {{
                    "contactPage.contentText.Unit 106, NU mall of Asia Building, Coral Way st., MOA complex, Pasay City, Manila, Philippines."
                      | translate
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer"></div>

    <div class="emptySpacer"></div>
    <div class="emptySpacer"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form
          class="form-wrapper"
          [ngClass]="{ t_a_s: lang == 'ur' }"
          method="post"
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
        >
          <h2 class="h2" style="text-align: left">
            {{ "contactPage.contentTitle.CONTACT US" | translate }}
          </h2>
          <div class="field">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="form-group"
                    style="margin-top: 20px; margin-bottom: 0px"
                  >
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                      <div class="col pt-3 font-color">
                        {{ "contactPage.contentText.YOUR NAME" | translate
                        }}<span style="color: red">*</span>
                        <input
                          placeholder="{{
                            'contactPage.contentText.YOUR NAME' | translate
                          }}"
                          name="name"
                          formControlName="name"
                          type="text"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              (contactForm.controls['name'].dirty ||
                                contactForm.controls['name'].touched ||
                                submitted) &&
                              contactForm.hasError('required', 'name')
                          }"
                        />
                        <div
                          *ngIf="
                            (contactForm.controls['name'].dirty ||
                              contactForm.controls['name'].touched ||
                              submitted) &&
                            contactForm.hasError('required', 'name')
                          "
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              (contactForm.controls['name'].dirty ||
                                contactForm.controls['name'].touched ||
                                submitted) &&
                              contactForm.hasError('required', 'name')
                            "
                          >
                            {{ "contactPage.contentText.nameval" | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="col pt-3 font-color">
                        {{ "contactPage.contentText.YOUR EMAIL" | translate
                        }}<span style="color: red">*</span>
                        <input
                          name="email"
                          placeholder="{{
                            'contactPage.contentText.YOUR EMAIL' | translate
                          }}"
                          formControlName="email"
                          type="text"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              (contactForm.controls['name'].dirty ||
                                contactForm.controls['name'].touched ||
                                submitted) &&
                              contactForm.hasError('required', 'name')
                          }"
                        />
                        <div
                          *ngIf="
                            (contactForm.controls['name'].dirty ||
                              contactForm.controls['name'].touched ||
                              submitted) &&
                            contactForm.hasError('required', 'name')
                          "
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              (contactForm.controls['name'].dirty ||
                                contactForm.controls['name'].touched ||
                                submitted) &&
                              contactForm.hasError('required', 'name')
                            "
                          >
                            {{ "contactPage.contentText.emailval" | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                      <div class="col pt-3 font-color">
                        {{ "contactPage.contentText.VISA NUMBER" | translate
                        }}<span style="color: red">*</span>
                        <input
                          placeholder="{{
                            'contactPage.contentText.VISA NUMBER' | translate
                          }}"
                          name="visanumber"
                          formControlName="visanumber"
                          type="text"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              (contactForm.controls['visanumber'].dirty ||
                                contactForm.controls['visanumber'].touched ||
                                submitted) &&
                              contactForm.hasError('required', 'visanumber')
                          }"
                        />
                        <div
                          *ngIf="
                            (contactForm.controls['visanumber'].dirty ||
                              contactForm.controls['visanumber'].touched ||
                              submitted) &&
                            contactForm.hasError('required', 'visanumber')
                          "
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              (contactForm.controls['visanumber'].dirty ||
                                contactForm.controls['visanumber'].touched ||
                                submitted) &&
                              contactForm.hasError('required', 'visanumber')
                            "
                          >
                            {{ "contactPage.contentText.visaval1" | translate }}
                          </div>
                          <div
                            *ngIf="
                              contactForm.hasError('minlength', 'visanumber')
                            "
                          >
                            {{ "contactPage.contentText.visaval2" | translate }}
                          </div>
                          <div
                            *ngIf="
                              contactForm.hasError('pattern', 'visanumber')
                            "
                          >
                            {{ "contactPage.contentText.visaval3" | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="col pt-3">
                        <span style="text-align: left" class="font-color"
                          >{{ "contactPage.contentText.CATEGORY" | translate }}
                          <span style="color: red">*</span>
                          <select
                            class="font-color"
                            formControlName="category"
                            class="form-control"
                            [ngClass]="{
                              'is-invalid':
                                (contactForm.controls['category'].dirty ||
                                  contactForm.controls['category'].touched ||
                                  submitted) &&
                                contactForm.hasError('required', 'category')
                            }"
                          >
                            <input
                              name="category"
                              type="dropdown"
                              placeholder="PRE-EXAMINATION (booking)"
                              class="form-wrapper"
                            />
                            <!-- <option value="PRE-EXAMINATION (booking)">PRE-EXAMINATION (booking)
                                                        </option> -->
                            <!-- <option value="PAYMENT">PAYMENT</option> -->
                            <option value="CHECKLIST">
                              {{
                                "contactPage.contentText.CHECKLIST" | translate
                              }}
                            </option>
                            <option value="REFERRAL APPOINTMENT">
                              {{
                                "contactPage.contentText.REFERRAL APPOINTMENT"
                                  | translate
                              }}
                            </option>
                            <option value="REFERRAL PROCESS">
                              {{
                                "contactPage.contentText.REFERRAL PROCESS"
                                  | translate
                              }}
                            </option>
                            <option value="RESULT AND FOLLOW UP">
                              {{
                                "contactPage.contentText.RESULT AND FOLLOW UP"
                                  | translate
                              }}
                            </option>
                            <option value="WOMEN">
                              {{ "contactPage.contentText.WOMEN" | translate }}
                            </option>
                            <option value="CHILDREN">
                              {{
                                "contactPage.contentText.CHILDREN" | translate
                              }}
                            </option>
                            <option value="GENERAL">
                              {{
                                "contactPage.contentText.GENERAL" | translate
                              }}
                            </option>
                            <option value="OTHERS">
                              {{ "contactPage.contentText.OTHERS" | translate }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              (contactForm.controls['category'].dirty ||
                                contactForm.controls['category'].touched ||
                                submitted) &&
                              contactForm.hasError('required', 'category')
                            "
                            class="invalid-feedback"
                          >
                            <div
                              *ngIf="
                                (contactForm.controls['category'].dirty ||
                                  contactForm.controls['category'].touched ||
                                  submitted) &&
                                contactForm.hasError('required', 'category')
                              "
                            >
                              {{
                                "contactPage.contentText.categoryval"
                                  | translate
                              }}
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="font-color" for="MESSAGE"
                      >{{ "contactPage.contentText.MESSAGE" | translate }}
                      <span style="color: red">*</span></label
                    >
                    <textarea
                      formControlName="msgContent"
                      name="msgContent"
                      class="form-control"
                      rows="5"
                      id="message"
                      [ngClass]="{
                        'is-invalid':
                          (contactForm.controls['msgContent'].dirty ||
                            contactForm.controls['msgContent'].touched ||
                            submitted) &&
                          contactForm.hasError('required', 'msgContent')
                      }"
                    ></textarea>
                    <div
                      *ngIf="
                        (contactForm.controls['msgContent'].dirty ||
                          contactForm.controls['msgContent'].touched ||
                          submitted) &&
                        contactForm.hasError('required', 'msgContent')
                      "
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          (contactForm.controls['msgContent'].dirty ||
                            contactForm.controls['msgContent'].touched ||
                            submitted) &&
                          contactForm.hasError('required', 'msgContent')
                        "
                      >
                        {{ "contactPage.contentText.messageval" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="col-md-6">
                      <ngx-recaptcha2
                        #captchaElem
                        formControlName="recaptcha"
                        [siteKey]="siteKey"
                      >
                      </ngx-recaptcha2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="qmcBtn squareBtn pinkBg">
                      <input
                        type="submit"
                        [disabled]="contactForm.invalid"
                        *ngIf="!loadingStatus"
                        class="bg-pink"
                        style="text-transform: capitalize"
                        value="{{
                          'careersPage.contentTitle.Submit' | translate
                        }}"
                      />
                      <span *ngIf="loadingStatus" class="loading"
                        ><img src="assets/images/loading.gif"
                      /></span>
                    </div>
                  </div>
                  <div class="successMsg text-center" *ngIf="successMsg">
                    {{ successMsg }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="emptySpacer"></div>
</div>
<app-footer></app-footer>
