.superadmin-dash-bg-img1 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_SAYalli.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.superadmin-dash-bg-img2 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_Yalli1.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.superadmin-dash-bg-img3 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/yalli-vendor-dash-5.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.superadmin-dash-bg-img4 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_Yalli2.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.superadmin-dash-bg-img5 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_SAYalli1.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.superadmin-dash-bg-img6 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_Yalli.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.superadmin-dashboard-iconbg {
    background: var(--bs-gray-dark) !important;
}