/* Apply custom scrollbar styling */

.template-dropdown {
    max-height: 200px;
    overflow-y: auto;
    border-radius: 8px;
}


/* Webkit-based browsers (Chrome, Safari) */

.template-dropdown::-webkit-scrollbar {
    width: 2px;
}

.template-dropdown::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scrollbar thumb color */
    border-radius: 10px;
    /* Rounded corners on the thumb */
}

.template-dropdown::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color on hover */
}


/* For other browsers (Firefox) */

.template-dropdown {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    /* thumb and track color */
}

.wrapper {
    overflow: hidden;
    will-change: transform;
}