
.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-image: linear-gradient(to right, #00acf0, #8ac43f) !important;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    /* transform: translateX(30px); */
    width: 100%;
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 35px;
    background-color:#9a55ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  /* .button:hover {
    background: #34974d;
  }
   */
  /* .button:hover .button__text {
    color: transparent;
  }
   */
  .button:hover .button__icon {
    width: 100%;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background: linear-gradient(to right, #da8cff, #9a55ff);
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }