.figure-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 1349px;
    img{
        width: 100%;
    }
}
span.errMsg {
    display: block;
    color: red;
    font-weight: 500;
}
.fw-bold{
    font-weight: 700;
}
span.loading img {
    width: 30px;
}
.iwh-title{
    color: #303030; 
    font-size: 28px; 
    font-weight: 600; 
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
    line-height: 10PX;
}
.status-book-appointment {
    margin-left: 25px;
    border: none;
    background: #521231;
    color: white;
    padding: 5px;
}
.qmcBtn {
    a:hover {
        color: #fff;
        text-decoration: none;
        background: #600435 !important;
    }
    a {
        padding: 6px 18px;
    }
}
.radiusBtn.pinkBg {

    margin: 14px;
a {
background-color: #9d004c;
padding: 6px 20px;
border-radius: 10px;
// border: 1px solid #ff0000;
/* -webkit-transition: all 400ms; */
transition: width all 400ms;
color:#fff;
margin: 12px;;
}
}

.emptySpacer{
    height: 32px;
}
.lable-head {
    text-align: left;
    display: inline-block;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    color: #777777;
    padding: 16px;
}    
.wpb-wrapper {
    line-height: 28px;
}
.input.btn {
    border: medium none;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    margin: 15px 0;
    margin-right: 5px;
    outline: medium none;
    padding: 3px 25px;
    color: #fff;
}
.btn-info {
    background: #5c0931 !important;
    padding: 12px 25px !important;
}
p{
    text-align: justify !important;
}
div{
    text-align: justify !important;
}

h1,h2,h3,h4,h5{
    text-align: justify !important;
}