.slider-service{
    margin-right: 15px !important;
    text-align: justify;
}

/* .slick-dots li button:before {
  font-size: 14px;
  color: gray;     
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color:white!important;
  opacity: 1;
  font-size: 12px;
  border-radius: 0px !important;
}

.slick-dots li button {
  width: 12px;
  height: 10px;
  padding-top: 5px;
  background: #ddd;
}

.slick-dots li.slick-active button {
  background: #6383e8; 
} */
