.dropdown-menu {
    position: absolute;
    z-index: 1000; /* Ensure it's on top of other elements */
    will-change: transform;
  }
  
  .dropdown {
    position: relative;
  }

  .clients li {
     text-align: center; 
     align-items: center; 
    list-style-type: none;
    display: inline;
     /* padding: 0px 10px;  */
    letter-spacing: 10px;
    font-size: 17px;
    margin: 0;
  }
  .edit-font {
    color:green;
    /* color: green;
    font-size: 22px; */
  }
  .delete-font {
    color: red; 
    /* color: red;
    font-size: 22px; */
  }

  .tableHost {
    width: 100%;
    text-wrap: nowrap;
  }
  .over{
    overflow-x: scroll;
    max-width: 1300px;
    width: 100%;
  }
  
.img-news{
  border-radius: 0px !important;
  width: 200px !important;
  height: 120px !important;
}

.toggle-red{
  color: green;
  font-size: 30px;
}

.toggle-green{
  color: red;
  font-size: 30px;
}

.page-link{
  color: black;
}

.page-link:focus{
  box-shadow: none;
  outline: none;
  color: black;
}

.active>.page-link{
  background: linear-gradient(to bottom right,rgba(198,0,1,255), black) !important;
    border: 1px solid #da8cff;
}

.cke {
  display: block !important;
}

.cke_notification_warning{
  display: none !important; 

}
.btn-primary {
  background-color: rgba(198,0,1,255) !important;
  border-color:rgba(198,0,1,255) !important;
}

.btn-danger {
  background-color: gray !important;
  border-color: gray !important;
}

.text-primary{
  color: rgba(198,0,1,255) !important;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.toggle-container {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 16px;
}

.toggle-input {
    display: none;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    transition: background 0.3s ease-in-out;
    border-radius: 34px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
}

.toggle-input:checked + .toggle-slider {
    background-color: #4CAF50;
}

.toggle-input:checked + .toggle-slider:before {
    transform: translateX(24px);
}
