.bannerBg {
    background-image: url('../../assets/images/Landing-page-image-1920.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    // background-size: cover !important;
    height: calc(100vh - 412px);
}
// .footerLogo {
//     background-image: url('../../assets/images/qmc_grey-500x142.png') !important;
//     background-position: center !important;
//     background-repeat: no-repeat !important;
//     background-size: cover !important;
// }
// .footerBg {
//     background-image: url('../../assets/images/footer-logo.png') !important;
//     background-position: center !important;
//     background-repeat: no-repeat !important;
//     background-size: cover !important;
// }
.loading-page.bg-pink {
    overflow-x: hidden;
    position: fixed;
    width: 100%;
}
.separator {
    width: 100%;
    border-bottom: 1px solid;
    padding: 15px;
    margin-bottom: 25px;
}

.emptySpacer {
    height: 24px;
}
@media screen and (max-width:600px) {
    .footerLogo img{
        width: 100%;
    }
    .footer-right {
        width: 100%;
        text-align: center;
    }
    .wpb_wrapper p, .wpb_wrapper div {
        text-align: center;
    }
}

.customModalPopup{
  width: 300px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
  text-align: center !important;
}
.customModalPopup .popup-logo{
  max-width: 50%;
  margin-bottom: 10px;
}
.customModalPopup .popup-download-text{
  max-width: 95%;
}
.customModalPopup .model-img-body table td img{
  max-width: 60%;
  margin: auto 15px;
}
.customModalPopup .model-img-body table td.left{
  text-align: right !important;
}
.customModalPopup .model-img-body table td.right{
  text-align: left !important;
}
.customModalPopup .model-img-body table td img.popup-qr{
  max-width: 50%;
  margin-top: 10px;
}
.customModalPopup .customModal-header button{
  border: 1px #ccc solid;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 50%;
  cursor: pointer;
}
.customModalPopup img{
  max-width: 100%;
}
.customModalPopup .model-img-header{
  padding: 15px;
  text-align: center;
}
.customModalPopup .model-img-footer{
  margin-top: 10px;
  padding: 0px;
  text-align: center;
}
.customModalPopup .model-img-body table{
  width: 100%;
}
.customModalPopup .model-img-body table tr td{
  text-align: center;
}

@media screen and (max-width:600px) {
  .customModalPopup{
  }
}
