.config-general-img {
    display: inline-block;
    position: relative;
    background-color: lightgrey;
    border-radius: 5px;
}

.config-general-logo {
    border-radius: 5px;
    height: 200px;
}

.config-general-logo-2 {
    border-radius: 5px;
    height: 30px;
}

.config-general-logo-3 {
    border-radius: 5px;
    height: 50px;
}

.config-close-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: black;
    color: white;
    padding: 3px 8px;
    border-radius: 50%;
    font-size: 10px;
    cursor: pointer;
}

.general-heading-para {
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
}