/* chart */

.layoutchart {
  display: flex;
  width: 100%;
  height: 500px;
}

.contentmainchart {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
}

.dash-board-card-container1 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  background-image: url('/assets/img/dash-car-4.png');
    background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: local;
}

.dash-board-card-container1:hover {
  /* border-left: 5px solid green; */
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dash-board-card-container2 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  background-image: url('/assets/img/dash-car-5.png');
    background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: local;
}

.dash-board-card-container2:hover {
  /* border-left: 5px solid orange; */
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dash-board-card-container3 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  background-image: url('/assets/img/dash-car-6.png');
    background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: local;
}

.dash-board-card-container3:hover {
  /* border-left: 5px solid rgb(248, 74, 74); */
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dash-board-card-container4 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  background-image: url('/assets/img/dash-car-1.png');
    background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: local;
}

.dash-board-card-container4:hover {
  /* border-left: 5px solid rgb(0, 157, 255); */
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dash-board-card-container5 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  background-image: url('/assets/img/dash-car-2.png');
    background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: local;
}

.dash-board-card-container5:hover {
  /* border-left: 5px solid rgb(187, 0, 255); */
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dash-board-card-container6 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  background-image: url('/assets/img/dash-car-3.png');
    background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: local;
}

.dash-board-card-container6:hover {
  /* border-left: 5px solid rgb(255, 204, 0); */
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-text {
  opacity: 0.8;
}

.card-text i {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.card-text h4 {
  font-weight: 600;
  margin-top: 10px;
}

.card-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.card-text p {
  font-size: 1rem;
  opacity: 0.85;
  margin-top: 6px;
}

.dash-board-icon-right1 {
  font-size: 2rem;
  background-color: green;
  color: white;
  padding: 0px 7px;
  border-radius: 10px;
}

.dash-board-icon-right2 {
  font-size: 2rem;
  background-color: orange;
  color: white;
  padding: 0px 7px;
  border-radius: 10px;
}

.dash-board-icon-right3 {
  font-size: 2rem;
  background-color: rgb(0, 212, 163);
  color: white;
  padding: 0px 7px;
  border-radius: 10px;
}

.dash-board-icon-right4 {
  font-size: 2rem;
  background-color: rgb(0, 157, 255);
  color: white;
  padding: 0px 7px;
  border-radius: 10px;
}

.dash-board-icon-right5 {
  font-size: 2rem;
  background-color: rgb(187, 0, 255);
  color: white;
  padding: 0px 7px;
  border-radius: 10px;
}

.dash-board-icon-right6 {
  font-size: 2rem;
  background-color: rgb(255, 204, 0);
  color: white;
  padding: 0px 7px;
  border-radius: 10px;
}

.navigation-dash-card-icon {
  /* margin-right: 10px; */
  padding: 10px 5px 5px 5px;
}

.navigation-dash-card-icon:hover i {
  color: var(--purple-color);
}

.navigation-dash-card-icon:hover {
  background-color: white;
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
}