.btncolor {
    color: #fff;
    background-color: #630332;
  }
  .uploadInput{
    line-height: 1.9 !important;
    padding: 0 !important;
  }
  .uploadBtn{
    background-color: #521231 !important;
  }
  .uploadSuccessFully{
    text-align: center;
  }
  .border-danger{
    color: #dc3545;
  }