<app-nav></app-nav>
<div class="vms-page">
  <div class="emptySpacer"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wpb_wrapper">
          <p style="text-align: start">
            {{
              "vmsPage.contentText.We follow strict guidelines defined by the Qatar Ministry of Interior to provide an efficient and up-to-date medical fitness check service aligned to the Qatar Government’s requirements."
                | translate
            }}
          </p>
          <p style="text-align: start">
            {{
              "vmsPage.contentText.Our team is well-versed with government visa requirements and trained to support applicants throughout the medical test part of the application process. On the confirmation of the appointment, the visa medical process is carried out in sequential steps and the applicants are led through the center efficiently and seamlessly."
                | translate
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="emptySpacer"></div>
  <div class="container contentSection">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="wpb_wrapper">
            <div class="iw-heading">
              <h4 class="iwh-title" style="font-size: 28px">
                {{
                  "vmsPage.contentTitle.OUR VISA MEDICAL PROCESS" | translate
                }}
              </h4>
            </div>
            <p style="text-align: start">
              {{
                "vmsPage.contentText.Access to the QMC is restricted to applicants only."
                  | translate
              }}
            </p>
            <p style="text-align: start">
              {{
                "vmsPage.contentText.Our staff are not involved in the decision-making process and cannot provide immigration advice. All visa applications are assessed and decided by Qatar Authorities."
                  | translate
              }}
            </p>
            <p style="text-align: start">
              {{
                "vmsPage.contentText.The medical investigations done by all our centers as part of the medical fitness check are the same and these may or may not be the same as the medical investigations done by visa centers of other countries or missions. While we make every effort to adhere to the stipulated turnaround timelines for the visa application and medical process, in some cases customers may be called back to the center on the advice of authorised medical professionals, for additional testing within the parameters of what is required by the Qatar visa process, as outlined below."
                  | translate
              }}
            </p>
            <p style="text-align: start">
              {{
                "vmsPage.contentText.As per the Qatar Ministry of Health guidelines, the applicants will be required to undergo advanced medical investigations if there are certain findings in their medical report after the initial medical fitness check at the center. If there are findings in an applicant’s :"
                  | translate
              }}
            </p>
            <ol class="font-color" type="a" style="text-align: start">
              <li>
                {{
                  "vmsPage.contentText.a) X-ray investigation, then the applicant may be required to revisit the QVC for advanced X-ray investigations."
                    | translate
                }}
              </li>
              <li>
                {{
                  "vmsPage.contentText.b) Blood investigation, then the applicant may be required to revisit the QVC for advanced blood investigations through an approved external laboratory."
                    | translate
                }}
              </li>
              <li>
                {{
                  "vmsPage.contentText.c) Doctor investigation, then the applicant may be required to consult a specialist doctor at an approved external hospital."
                    | translate
                }}
              </li>
            </ol>
            <p style="text-align: start">
              {{ "vmsPage.contentText.completionsteps" | translate }}
            </p>
            <p style="text-align: start">
              {{
                "vmsPage.contentText.The appointments are confirmed through SMS and/or emails. To complete the Visa Medical Process, the applicants must provide their active contact numbers and email ids. In case of referrals/revisits, the applicants are only allowed to enter the center if they have a confirmation of the appointment on SMS."
                  | translate
              }}
            </p>
            <p style="text-align: start">
              {{
                "vmsPage.contentText.Once the applicants go through the referred tests/consultations, they are required to submit their reports to the medical center physically/ in person."
                  | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="emptySpacer" style="height: 52px"></div>
  </div>
  <div class="container contentSection">
    <div class="row">
      <div class="col-md-12">
        <div class="tooltipContent">
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-5">
            <div
              class="col"
              placement="right"
              ngbPopover="{{
                'tooltipContentPage.contentText.a)Applicant’s documents are collected and verified.'
                  | translate
              }}  
                                {{
                'tooltipContentPage.contentText.b)3 Check process where the Passport, Appointment letter, and the biometric receipt are validated.'
                  | translate
              }}  
                                {{
                'tooltipContentPage.contentText.c)The applicants are then guided to the registration desk.'
                  | translate
              }}"
              popoverTitle="{{
                'tooltipContentPage.contentTitle.SECURITY CHECK' | translate
              }}"
            >
              <img src="assets/images/security-check-2.png" />
            </div>
            <div
              class="col"
              placement="right"
              ngbPopover="{{
                'tooltipContentPage.contentText.a)Applicants are registered post verification of documents.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.b)Biometric authentication of the applicant.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.c)The applicant signs the consent form.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.d)A token is generated for the applicant to begin his Visa medical journey.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.e)Applicant feedback is captured.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.f)The applicant is then guided to the waiting area.'
                  | translate
              }}"
              popoverTitle="{{
                'tooltipContentPage.contentTitle.REGISTRATION' | translate
              }}"
            >
              <img src="assets/images/registration-1.png" />
            </div>
            <div
              class="col"
              placement="right"
              ngbPopover="{{
                'tooltipContentPage.contentText.a)Biometric authentication of the applicant.'
                  | translate
              }}                 
                                {{
                'tooltipContentPage.contentText.b)Height, weight, and blood pressure is recorded.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.c)Vision Testing.' | translate
              }}
                                {{
                'tooltipContentPage.contentText.d)Vaccine administration.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.e)Medical History is entered.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.f)Blood sample collection.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.g)Applicant feedback is captured.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.h)The applicant is then guided to the waiting area.'
                  | translate
              }}"
              popoverTitle="{{
                'tooltipContentPage.contentTitle.NURSE STATION' | translate
              }}"
            >
              <img src="assets/images/Nurse-station-1.png" />
            </div>
            <div
              class="col"
              placement="left"
              ngbPopover="{{
                'tooltipContentPage.contentText.a)Biometric authentication of the applicant.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.b)Review of Nurse findings.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.c)Complete Medical History and Physical examination.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.d)Applicant feedback is captured.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.e)The applicant is then guided to the waiting area.'
                  | translate
              }}"
              popoverTitle="{{
                'tooltipContentPage.contentTitle.DOCTOR CONSULTATION'
                  | translate
              }}"
            >
              <img src="assets/images/Consultation-1-1.png" />
            </div>
            <div
              class="col"
              placement="left"
              ngbPopover="{{
                'tooltipContentPage.contentText.a)Biometric authentication of the applicant.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.b)Chest X-ray (PA view) is captured.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.c)Image quality is assessed by a technician and sent to the Radiologist.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.d)Applicant feedback is captured.'
                  | translate
              }}
                                {{
                'tooltipContentPage.contentText.e)The applicant ends the Visa Medical Process and exits the center.'
                  | translate
              }}"
              popoverTitle="{{
                'tooltipContentPage.contentTitle.CHEST X RAY' | translate
              }}"
            >
              <img src="assets/images/x-ray-1.png" />
            </div>
          </div>
        </div>
        <div class="wpb_wrapper">
          <p style="text-align: center; margin-top: 50px">
            {{ "Comman.disclamcontent" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="emptySpacer"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <!-- <div class="video-player"> -->

        <!-- <video class="video" width="800" height="450" src="https://qatarmedicalcenter.com/wp-content/uploads/Visa%20Medical%20Process.mp4" controls></video> -->
        <div class="controls">
          <!-- <button class="play-button"></button> -->
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="emptySpacer"></div>
</div>
<app-footer></app-footer>
