html {
    --black: #000000;
    --focus-color: #0067b8;
    --light-gray: rgba(0, 0, 0, 0.1);
    --medium-gray: rgba(0, 0, 0, 0.4);
    --selected: #e3f2ff;
    --white: #ffffff;
    box-sizing: border-box;
    font-size: 100%;
}


/* combo wrapper */

.combo {
    position: relative;
}


/* down angle */

.combo::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    display: block;
    border-bottom: 2px solid var(--medium-gray);
    border-right: 2px solid var(--medium-gray);
    height: 0.5rem;
    width: 0.5rem;
    pointer-events: none;
    transform: translate(0, -65%) rotate(45deg);
}

[role="combobox"] {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--medium-gray);
    border-radius: 0.25rem;
    min-height: calc(1.5rem * 2);
    padding: 0.5rem;
    background-color: var(--white);
}

label.combo-label {
    display: block;
    margin-bottom: 0.25rem;
}

input.combo-input {
    flex: 1 1 35%;
    border: none;
    min-height: 1.5rem;
    width: 100%;
    padding: 0;
    background-color: var(--white);
}


/* options wrapper */

[role="listbox"] {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    border: 1px solid var(--medium-gray);
    border-radius: 0 0 0.25rem 0.25rem;
    margin: 0;
    padding: 0;
    max-height: 18.75rem;
    width: 100%;
    overflow-y: scroll;
    list-style: none;
    background-color: var(--white);
}

.open [role="listbox"] {
    display: block;
}


/* list of selections */

ul.selected-options {
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.selected-options li {
    display: inline-block;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}


/* the list options */

[role="option"] {
    padding: 0.625rem 0.75rem 0.75rem;
}

[role="option"][aria-selected="true"] {
    position: relative;
    padding-right: 1.875rem;
    background-color: var(--selected);
}


/* checkmark */

[role="option"][aria-selected="true"]::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    border-bottom: 2px solid var(--black);
    border-right: 2px solid var(--black);
    height: 1rem;
    width: calc(1rem * 0.5);
    transform: translate(0, -50%) rotate(45deg);
}


/* selections */

button.remove-option {
    position: relative;
    border: 1px solid var(--light-gray);
    border-radius: 0.25rem;
    padding: 0.25rem 1.75rem 0.25rem 0.25rem;
    color: var(--white);
    color: var(--black);
    font-size: 0.75rem;
    font-weight: 700;
    background-color: var(--light-gray);
}

button.remove-option::before,
button.remove-option::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.75rem;
    border-right: 2px solid var(--black);
    height: 0.75rem;
    width: 0;
}

button.remove-option::before {
    transform: translate(0, -50%) rotate(45deg);
}

button.remove-option::after {
    transform: translate(0, -50%) rotate(-45deg);
}


/* states */

[role="combobox"]:focus-within {
    border-color: var(--focus-color);
    box-shadow: 0 0 0 1px var(--focus-color);
}

[role="option"].option-current,
[role="option"]:hover {
    background-color: var(--light-gray);
}

input.combo-input:focus {
    border-color: transparent;
    box-shadow: none;
    outline: none;
}

button.remove-option:focus {
    box-shadow: 0 0 0 3px var(--focus-color);
    outline-color: transparent;
}



.flow-buttons button {
    border: none !important;
   width: fit-content;
   padding: 5px 13px;
   border-radius: 10px;

}

/* Dropdown fix */
.select-custom {
  z-index: 1;
  position: relative;
}

/* Selected badges */
.badge-selected {
  background: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  z-index: 10;
  font-size: 14px;
}

/* Close icon visible always */
.badge-selected i {
  color: red;
  cursor: pointer;
  font-size: 14px;
  opacity: 1 !important;
  visibility: visible !important;
}
