/* .offer-banner-main{
    margin-top: 50px;
}

.offer-card-img{
    height: 250px;
    width: 420px;
    border-radius: 10px;
} */

.offer-banner-main {
    margin-top: 20px;
    text-align: center;
}

.offer-card-img {
    cursor: pointer;
    height: 250px;
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offer-card-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Add some media queries for additional customization */
@media (max-width: 768px) {
    .offer-banner-main {
        margin-top: 10px;
    }
}
