body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
    display: flex;
    background: #9cefa0;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}

.number-stats span {
    font-weight: 800;
}

.number-stats {
    background: linear-gradient(to left, #09d813, #4fa3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.stats-card:hover .icon-circle i {
    color: white !important;
}

.stats-card p {
    font-weight: 500;
    font-size: 0.9rem;
    color: #333;
}