.table-bordered{
    border:0.5px solid rgb(235, 234, 234) !important;
}

.pagination .page-item .page-link {
    color: #fe019a;
    font-weight: 600;
    border-radius: 100px;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fe019a;
}

.pagination .page-item.active .page-link {
    background-color: #fe019a;
    color: white;
    border-color: #fe019a;
}

.pagination .page-item .page-link:hover {
    background-color: #fe019a;
    color: white;
    border-color: #fe019a;
}

.case-study-drop{
    border: 0.5px dotted lightgray;
    border-radius: 5px;
    padding: 19px;
    text-align: center;
}

.loading-position{
    position: absolute;
    top: 60%;
    left: 40%;
}
