.add-variables {
    border: none !important;
    border-radius: 5px !important;
    text-align: end !important;
    float: inline-end;
    margin-bottom: 30px;
    background: black;
    color: white;
    font-size: 14px;
}

.input-container {
    border: 1px solid #ccc;
    padding: 10px 15px !important;
    margin-top: 45px !important;
    margin-right: 0rem;
    margin-left: 0rem;
    border-radius: 10px;
}

.fixed-part {
    color: #999;
    user-select: none;
    pointer-events: none;
    font-weight: bold;
}

.editable-input {
    border: none;
    outline: none;
    flex: 1;
}

.vendor-crt-btn2 {
    border: 0;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 10px;
    margin-top: 8px;
}

.whatsapp-under-buttons {
    border: 1px solid #e3d9d9;
    border-radius: 10px;
    width: 100%;
}

.vendor-crt-btn {
    border: 0;
    background: linear-gradient(310deg, #004aad, #0dc0df);
    color: white;
    border-radius: 8px;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.vendor-crt-btn:hover {
    animation: mymove 0.9s infinite alternate ease-in-out;
}

@keyframes mymove {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

.vendor-crt-btn2 {
    border: 0;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 10px;
    margin-top: 8px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.vendor-crt-btn2:hover {
    animation: mymove 1.5s infinite alternate ease-in-out;
}

@keyframes mymove {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-5px);
    }
}

.buttons-options {
    padding: 0 6% 3% 0%;
}

.quick-replybtn {
    border: 1px solid #e3d9d9;
    padding: 8px;
    border-radius: 10px;
}

.button-option-style {
    color: #00a5f4;
}

.template-bodytxt,
.template-buttontxt,
.template-footertxt,
.template-headertxt {
    font-size: 12px;
}

.template-editImg {
    width: 10%;
    height: auto;
    border-radius: 5px;
}

.dropdown-nodata-found {
    text-align: center;
    font-size: 12px;
}