body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.all-modules-height {
  margin-top: 40px;
  margin-bottom: 30px;
}


/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.all-btn-color button {
  background: linear-gradient(90deg, #ffcc00, #ffea00, #ffb300, #ffd54f);
  border: none;
  color: #333;
  font-weight: 600;
  transition: transform 0.2s ease;
}

button {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.gold-dots-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 50px auto;
}

.gold-dots-loader div {
  width: 12px;
  height: 12px;
  background-color: #e2b72a;
  border-radius: 50%;
  animation: goldBounce 0.6s infinite alternate;
}

.gold-dots-loader div:nth-child(2) {
  animation-delay: 0.2s;
}
.gold-dots-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes goldBounce {
  from { transform: translateY(0); opacity: 0.6; }
  to { transform: translateY(-10px); opacity: 1; }
}

input,
textarea,
select {
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-clip: padding-box;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid transparent; 
  border-image: linear-gradient(90deg, #ffcc00, #ffea00, #ffb300, #ffd54f) 1;
  box-shadow: 0 0 8px rgba(226, 183, 42, 0.6) !important;
  outline: none !important; 
  border-radius: 5px;
}

/* .login-eye {
  background: linear-gradient(90deg, #ffcc00, #ffea00, #ffb300, #ffd54f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;  
  transition: all 0.3s ease;
}

.toggle-password:hover .login-eye {
  filter: brightness(1.2); 
} */

