.footerBg{
    padding-top: 70px !important;
    padding-bottom: 65px !important;
    background-image: url('../../assets/images/footer-bg.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.footer-big{
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}
.mini-footer{
    padding: 17px 0;
}
.widget-info-footer .iw-widget-about-us img {
    margin-bottom: 35px;
}
 .widget-title {
    border-bottom: 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    margin: 0 0 36px;
    padding: 0 0 10px;
    position: relative;
}
#menu-unnamed {
    margin-top: 70px;
}
.widget_nav_menu .menu li a:hover {
    color: #4db848;
    text-decoration: none;
}
 .widget_nav_menu .menu li a,.widget_inwave-subscribe .malchimp-desc {
    color: #ffffff;
}
.footer-right {
    width: 100%;
    text-align: right;
}
.t_a_s{
    text-align: start ;

}

p{
    text-align: justify !important;
}
div{
    text-align: justify !important;
}

h1,h2,h3,h4,h5{
    text-align: justify !important;
}

.pakislogo{
    height: 115px !important;
    width: 350px !important;
}
