.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
  }
  
  .carousel-container:hover .carousel-btn {
    opacity: 1;
  }
  
  .carousel-wrapper {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Hide the scrollbar */
  }
  
  .product-card {
    width: 200px;
    flex-shrink: 0;
    background-color: white;
    /* border: 1px solid lightgray; */
    cursor: pointer;
    box-shadow: 0 4px 10px #0000001a;
  }

  .product-card:hover{
    border: 1px solid rgb(45, 235, 45);
  }

  .category-items-count{
    font-weight: 500;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(15, 201, 15);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .carousel-btn.prev {
    left: 5px;
  }
  
  .carousel-btn.next {
    right: 5px;
  }
  
  .carousel-btn:hover {
    background-color: rgb(22, 150, 22);
  }
  