    .hero-section {
      position: relative;
      width: 100%;
      height: 310px;
      overflow: hidden;
    }

    .hero-section {
      position: relative;
    }

    .hero-section .main-img {
      width: 100%;
      max-height: 310px;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }

    .hero-section .main-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .hero-section .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      /* shadow overlay */
      pointer-events: none;
      z-index: 1;
    }

    .hero-text {
      position: absolute;
      top: 30%;
      /* start higher */
      left: 50%;
      transform: translate(-50%, -100%);
      padding: 15px 30px;
      border-radius: 8px;
      color: #FFFFFF;
      font-family: "Oswald", Sans-serif;
      font-size: 45px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1em;
      z-index: 10;
      transition: all 0.8s ease-out;
      opacity: 0;
      text-align: center;
    }

    .hero-text.animate {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    .about-content {
      padding: 40px 20px;
    }

    @media (max-width: 768px) {
      .hero-text {
        font-size: 2rem;
        padding: 10px 20px;
      }
    }

    .mission-text {
      text-align: left;
      color: #000000;
      font-family: "Oswald", Sans-serif;
      font-size: 18px;
      font-weight: 400;
      transform: translatey(-100%);
      opacity: 0;
      transition: all 0.8s ease-out;
    }

    .mission-text.animate {
      top: 0;
      transform: translatey(0%);
      opacity: 1;
    }

    .icon {
      width: 20px;
      vertical-align: middle;
      margin-right: 8px;
    }

    form input::placeholder,
    form textarea::placeholder {
      color: #666;
    }

    .form-input {
      margin: 0px 30px 0px 30px;
      padding: 25px;
      border-style: solid;
      border-width: 2px 2px 2px 2px;
      border-color: #078307;
    }

    .contact-text {
      color: #000000;
      font-family: "Montserrat", Sans-serif !important;
      font-size: 17px;
      font-weight: 400;
    }

    .contact-text a {
      text-decoration: none;
      color: #000000;
      font-family: "Montserrat", Sans-serif !important;
      font-size: 17px;
      font-weight: 400;
    }
    .form-button{
      color: #FFFFFF !important;
      font-family: "Montserrat", Sans-serif !important;
          border: 1px solid #ddd;
        background-color: #078307;
        font-size: 1em !important;
          padding: 10px 15px;
    }
    .form-control{
      border-radius: 0px !important;
    }
    #phone {
      border: 1px solid green;
      width: 100%;
      padding-left: 50px;
      /* needed if separateDialCode is false */
      height: 40px;
      border-radius: 4px;
    }
  
    .intl-tel-input {
      width: 100%;
    }
  
    .intl-tel-input .selected-flag {
      z-index: 5;
    }