<app-nav></app-nav>
<div class="row">
  <div
    class="col-sm-12 termsofuse"
    style="padding-left: 120px; padding-right: 120px; padding-bottom: 50px"
  >
    <h4 class="text-center pb-3 mt-3" style="text-decoration: underline">
      Terms of Use
    </h4>
    The Qatar Medical Center (“Center”) is operated through Stemz Global DMCC, a
    corporation based in Dubai, UAE (hereinafter “we”, “us” or “our”) in the
    following locations. These terms of use (the “Terms”) are applicable to the
    user (“you” or “your”) of the website available at the
    www.qatarmedicalcenter.com (“website”) or the QMC application (the “App”).
    <h5 class="pb-3 mt-2" style="text-decoration: underline">
      1. Acceptance of Terms
    </h5>
    Through our website or our App, we provide information and answers to
    frequently asked questions, facilities to book your referral appointments,
    information regarding your revisit appointment at the Center, and visa
    medical status check services (collectively, the “Services”). We understand
    that you are at least eighteen (18) years old and have downloaded our App or
    logged in to our website to avail the Services or to gather information
    about the Services. By accessing our website or our App, you agree to be
    bound by the Terms. These Terms constitute a legally enforceable and binding
    agreement between you and us, in relation to the use of the website.
    <h5 class="pb-3 mt-2" style="text-decoration: underline">
      2. License to Use the Website
    </h5>
    In connection with the Services, we grant you a non-exclusive, revocable
    license to use the website in accordance with the Terms. Through this
    license you will be able to upload and input your information, create user
    account, link your user account with your social media and track progress of
    your visa status through the website or the App.
    <h5 class="pb-3 mt-2" style="text-decoration: underline">3. Cookies</h5>
    We use Cookies and similar tracking technologies to track the activity on
    our App and website and store certain information. Tracking technologies
    used are beacons, tags, and scripts to collect and track information and to
    improve and analyze our Services. When you login to our website or download
    our App, you will get an option to choose whether you permit us to use
    cookies or not. Please note that if you deny us the permission to use
    cookies, this may impair your ability to access some features of the website
    or the App. More information on cookies can be found in our Privacy Policy
    available at https://qatarmedicalcenter.com/privacy-policy.
    <h5 class="pb-3 mt-2" style="text-decoration: underline">4. Spamming</h5>
    Our website or App shall not be used to send spam or otherwise send content
    that would violate these Terms. We filter and automatically scan messages
    for viruses and other illegal or prohibited content before they are sent. To
    report any issues related to spam or spoof emails to us, please address
    e-mails to info"&#64;"stemzglobal.com. We neither permanently store email
    messages sent to or from us nor rent or sell any email addresses to third
    parties. It is not permitted to license, add, modify, deface, hack, misuse
    or abuse the website or the App or the contents therein. Any such activity
    shall entitle us to seek remedies against you, including but not limited to
    suspension of Services or monetary damages.
    <h5 class="pb-3 mt-2" style="text-decoration: underline">
      5. Fraudulent Activities
    </h5>
    It has come to our attention that individuals misrepresenting themselves as
    our agents or representatives have approached people to offer
    fraudulent/fictitious employment opportunities, with the intent to steal
    personal information or solicit money from people. We encourage the users to
    exercise caution and common sense when receiving any such employment offer,
    which requires payment of any fees/money, or promises a work visa in
    exchange for money. The said offers are completely fake and not valid. We
    are not a recruitment agency and do not offer recruitment services. Scammers
    operate primarily via the internet, email, phone etc. We warn the users to
    beware of such scams and report any suspected scamming activity at
    info&#64;qatarmedicalcenter.com.
    <h5 class="pb-3 mt-2" style="text-decoration: underline">
      6. Anti-Bribery and Payments
    </h5>
    Biometric, Medical and Visa Service Charges are paid by the user directly to
    the relevant authorities in Qatar. QMC does not seek any money / amount from
    applicants for processing or confirming on the necessary medical tests. The
    decision to grant the visa or not is the concerned government or the
    consulate. We do not have any control or say in the approval or denial of
    your visa application and we expressly disclaim any liability arising from
    the same. Users who may be obtaining services of agents shall be doing so at
    their own risk and we do not endorse, neither collect any money at the
    Center for rendering the services and shall not be responsible or liable to
    the client/applicant. Any person who demands or offers money in exchange of
    the Services provided on the website or the App or at the Center may be
    subject to legal action by us. If you know or reasonably suspect that there
    has been an incident where a person has asked you for money or other
    financial favor in exchange of the Services, please let us know on
    info&#64;qatarmedicalcenter.com.
    <h5 class="pb-3 mt-2" style="text-decoration: underline">7. Disclaimer</h5>
    The information contained in the website, including text, graphics, links or
    other items, are provided on an 'as is, 'as available basis. We do not
    warrant the accuracy, adequacy or completeness of this information and
    material and expressly disclaim liability for errors or omissions in this
    information and material. No warranty of any kind, implied, express or
    statutory, including but not limited to the warranties of non-infringement
    of third-party rights, title, merchantability, fitness for a particular
    purpose and freedom from computer virus, is given in conjunction with the
    information and materials. Notwithstanding anything to the contrary herein,
    we or our affiliates shall not be liable for any damages, costs, losses and
    liabilities, harm, injury (including, without limitation, damages for loss
    of business projects, or loss of profits) arising in contract, tort or
    otherwise from the use of or inability to use the App or the website, or any
    of its contents, or from any act or omission arising from using the website
    or the App or contents or for any failure of performance, error, omission,
    interruption, deletion, defect, delay in operation or transmission, computer
    virus, communications line failure, theft or destruction or unauthorized
    access to, alteration of, or use of information contained on the website or
    the App.
    <h5 class="pb-3 mt-2" style="text-decoration: underline">
      8. Changes without Prior Notice
    </h5>
    These Terms are subject to change without any prior notice. We strongly
    advise that regular users should frequently visit this page to keep track of
    the changes in the Terms.
    <h5 class="pb-3 mt-2" style="text-decoration: underline">
      9. Applicable Law and Jurisdiction
    </h5>
    Any actions or disputes arising from or relating to the Services shall be
    subject to the exclusive jurisdiction of the district courts located in New
    Delhi. You agree and acknowledge that submission of the dispute in any other
    forum shall not be allowed unless otherwise agreed in writing.
  </div>
</div>
<app-footer></app-footer>
