.btncolor {
    color: #fff;
    background-color: #630332;
  }
  .uploadInput{
    line-height: 1.9 !important;
    padding: 0 !important;
  }
  .uploadBtn{
    background-color: #521231 !important;
  }
  .uploadSuccessFully{
    text-align: center;
  }
  .border-danger{
    color: #dc3545;
  }
  .termsofuse{
    color:#000000  !important;
    font-family: Montserrat, sans-serif ; 
    font-size:15px !important;
    font-weight: 400 !important;
    }