.customer-details-btn {
background: linear-gradient(90deg, #ffcc00, #ffea00, #ffb300, #ffd54f);
  color: #fff;
  color: #000;
} 

select.form-control {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1em;
}

.all-btn-color {
  color: #000 !important;
}


.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  margin-left: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: .4s;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


.custom-flower-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.custom-gold-flower-img {
  width: 210px;
  opacity: 2.6;
}
