
.contentSection{
    position: relative;
    top:-110px;
}
span.errorMsg {
    color: red;
    font-size: 12px;
    /* margin-top: 12px; */
}
span.loading img {
    width: 30px;
}
.iwh-title {
    color: #303030; 
    font-size: 28px; 
    font-weight: 600; 
    text-transform: uppercase;
    margin-bottom: 44px;
    text-align: center;
}
.form-header {
    color: #303030; 
    font-size: 28px; 
    font-weight: 600; 
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 15px;
    text-align: left;
}
.form-wrapper {
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
    border: 1px #d9d9d9 solid;
    // padding: auto;
    padding-bottom: 35px;
   
}
.intl-tel-input {
    display: table-cell;
  }
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
  }
.wpb_wrapper p {
    color: #777;
}

.iframe {
    margin-top: 40px;
}
.qmcBtn {
    a:hover {
        color: #fff;
        text-decoration: none;
        background: #600435 !important;
    }
    a {
        padding: 6px 18px;
    }
}
.tooltipContent .col img{
    width: 100%;
}
.radiusBtn.pinkBg {
    margin: 14px;
a {
background-color: #9d004c;
padding: 6px 20px;
border-radius: 10px;
// border: 1px solid #ff0000;
/* -webkit-transition: all 400ms; */
// transition: width all 400ms;
color:#fff;
margin: 12px;;
}
}
// .wpb_wrapper {
//     font-size: 14px;
//     font-family: Poppins;
// }
.wpb_wrapper p {
    color: #777777;
    font-size: 15px;
    line-height: 28px;
}
.emptySpacer {
    height: 52px;
}
.row img {
    width: 100%;
    height: auto;
    vertical-align: top;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
.radiusBtn.pinkBg {

        margin: 14px;
    a {
    background-color: #9d004c;
    padding: 6px 20px;
    border-radius: 10px;
    // border: 1px solid #ff0000;
    /* -webkit-transition: all 400ms; */
    transition: width all 400ms;
    color:#fff;
    margin: 12px;;
}
}
.bg-pink{
.iwh-title{
    padding: 12px;
    color:#fff;
}
.wpb_wrapper {
    p{
        color:#fff;
    }
}
}
.seperator_hr {
    height: 1px;
    border-top: 1px solid #EBEBEB;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
.modal.title {
    background: green;
    border-color: green;
    padding-top: 20px;
    padding-bottom: 30px;

}
.modal-header {
    background: #521231;
    color: #fff;
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

.modal-footer button {
    background: #521231 ;
}
.mat{
    color:red;
}
input.bg-pink:disabled {
    opacity: 0.8;
}
.is-invalid {
    border: 1px solid red;
}
.qmcBtn input {
    padding: 8px 18px;
    border: none;
    /* border-radius: 3px; */
}
.t_a_s{
    text-align: start ;

}
