.campaign-dash-bg-img1 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_Yalli_CD.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.campaign-dash-bg-img2 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_Yalli.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.campaign-dash-bg-img3 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_Yalli_CD.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.campaign-dash-bg-img4 {
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/img/Asset_Yalli.png');
    background-size: contain;
    background-position: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-loader {
    width: 54px;
    height: 54px;
    position: relative;
    background-image: linear-gradient(var(--bs-gray-dark) 16px, transparent 0), linear-gradient(#df0d0d 16px, transparent 0), linear-gradient(#df0d0d 16px, transparent 0), linear-gradient(var(--bs-gray-dark) 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top, left bottom, right top, right bottom;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        width: 54px;
        height: 54px;
        transform: rotate(0deg)
    }
    50% {
        width: 20px;
        height: 20px;
        transform: rotate(180deg)
    }
    100% {
        width: 54px;
        height: 54px;
        transform: rotate(360deg)
    }
}

.camp-icon-shape {
    width: 38px;
    height: 38px;
    background-position: center;
    border-radius: 1.5rem;
}

.camp-icon-shape i {
    color: #000;
    opacity: 0.8;
    top: 6px;
    font-size: 15px;
    position: relative;
}

.actionCampFailedMsg-tooltip-container {
    position: relative;
    display: inline-block;
    cursor: help;
}

.actionCampFailedMsg-tooltip-container .actionChathelp-tooltip-text {
    visibility: hidden;
    background-color: #feefae;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: black;
    padding: 3px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 100%;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.actionCampFailedMsg-tooltip-container:hover .actionChathelp-tooltip-text {
    visibility: visible;
    opacity: 1;
}