.underline-main {
  border: 3px solid brown;
  width: 5%;
}

.dashboard-icon {
  color: white;
}

.dashboard-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.icon-box {
  margin-top: -30px !important;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  margin-right: 15px;
}

.black {
  background: #2c2c2c;
}

.blue {
  background: #0095ff;
}

.green {
  background: #28a745;
}

.pink {
  background: #ff4081;
}

.yellow {
  background: rgb(209, 209, 8);
}

.purple {
  background: plum;
}

.orange {
  background: orange;
}

.news-count-con {
  font-size: 15px;
}

.icon-dash {
  font-size: 30px;
}

.navbar-link-main {
  color: gray;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.nav2 {
  font-size: 15px;
}

.sidebar .nav .nav-item.active>.nav-link {
  background-color: rgb(251, 219, 219) !important;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-left: -5px;
  margin-right: -2px;
}

.sidebar .nav .nav-item.active>.nav-link .menu-title {
  color: rgba(198, 0, 1, 255) !important;
}

.sidebar .nav .nav-item.active>.nav-link i {
  color: rgba(198, 0, 1, 255) !important;
}

.sidebar .nav .nav-item.active>.nav2 {
  margin-left: 2px !important;
  background-color: rgb(251, 219, 219) !important;
  color: rgba(198, 0, 1, 255) !important;
  padding: 5px 10px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px !important;
}

.sidebar-ul {
  list-style: none;
}

.menu-icon {
  margin-left: 0px !important;
  margin-right: 5px !important;
}

.menu-title {
  font-size: 15px !important;
}

.small-margin-check {
  margin-top: -15px !important;
}

.nav-item:hover {
  background-color: transparent !important;
}

.footer-main {
  font-size: 15px;
  /* margin-top: 10px; */
  background-color: #f2edf3 !important;
  padding-top: 30px;
  padding-bottom: 20px !important;
  margin-bottom: 0px !important;
}


.footer-hermon{
  text-decoration: none;
  color:  rgba(198, 0, 1, 255) ;
}


