.dropdown-menu {
    position: absolute;
    z-index: 1000; /* Ensure it's on top of other elements */
    will-change: transform;
  }
  
  .dropdown {
    position: relative;
  }
.clients li{
  font-size: medium !important;
}
  .clients li {
    /* text-align: center; */
    /* align-items: center; */
    list-style-type: none;
    display: inline;
    /* padding: 0px 10px; */
    letter-spacing: 10px;
    font-size: 20px;
    margin: 0;
  }
  .edit-font {
    color:green;
    /* color: green;
    font-size: 22px; */
  }
  .delete-font {
    color: red; 
    /* color: red;
    font-size: 22px; */
  }

  .tableHost {
    width: 100%;
text-wrap: nowrap;
  }
  .over{
    overflow-x: scroll;
    max-width: 1300px;
    width: 100%;
  }
  

.tool-tip{
  background-color: blue!important;
}