.search-input:focus {
    border-color: green !important;
    outline: none;
    box-shadow: none;
}

.search-input {
    /* padding-left: 30px; */
    border: 1px solid #ccc;
    border-radius: 0px;
}

.search-icon {
    left: 95%;
    top: 50%;
    transform: translateY(-50%);
    color: green;
    pointer-events: none;
}

.heart-icon {
    font-size: 20px;
}

.navbar-container {
    background-color: white;
    /* box-shadow: 0 5px 15px rgba(186, 186, 186, 0.3); */
    /* padding: 20px; */
    border-bottom: 1px solid rgb(233, 230, 230);
}

.location-down-arrow {
    font-size: 12px;
}

.btn:focus {
    border: none;
}

.shopping-btn,
.navbar_location,
.navbar-category,
.navbar-heart,
.navbar-login {
    border: none;
    background-color: transparent;
}

.categary-list-content {
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    /* font-weight: 500; */
}


.category-dropdown {
    width: 250px;
    height: 400px;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(105, 89, 89, 0.15) !important;
    background-color: rgb(228, 231, 231);
    border-radius: 0px 0px 10px 0px;
    margin-top: 15px !important;
}


.dropdown:hover>.navbar-category {
    display: block;
}

.category-li {
    height: 35px;
}

.category-li:hover {
    background-color: lightblue;
    padding: 5px 7px 7px 7px;
    border-radius: 0px 50px 50px 0px;
}

.submenu {
    display: none;
}

.dropdown:hover>.submenu {
    display: block;
}

.category-dropdown-1 {
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    width: 250px;
    height: 400px;
    border: none;
    margin-top: -15px;
    margin-right: 15px;
    border-radius: 0px 0px 0px 10px;
}

.categary-list-content-1 {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.categary-list-content-1:hover {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(6, 171, 248);
}

.category-li-1 {
    height: 35px;
    /* border-bottom: 0.5px solid rgb(235, 232, 232); */
}