.iwh-Title {
    color: #303030;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}
.iwh-title {
    color: #303030;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: left;
}
.wpb_wrapper ul,p {
    color: #777777;
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
}
.emptySpacer {
    height: 20px;
}
// #covid{
//     margin-top: 70px;;
// }

p{
    text-align: justify !important;
}
div{
    text-align: justify !important;
}

h1,h2,h3,h4{
    text-align: justify !important;
}