<app-nav></app-nav>
<div class="checklist-page">
    <div class="emptySpacer"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="iw-heading">
                    <h4 class="iwh-Title">{{'homePage.contentTitle.What Happens at the QATAR MEDICAL CENTER?'| translate}}</h4>
                </div>
                <h5 class="iwh-title">{{'checklistPage.What to expect while at the Qatar Medical Center'| translate}}</h5>
                <div class="wpb_wrapper">
                <ul class="font-color" >
                    <li>{{'checklistPage.expect1'|translate}}</li>
                    <li>{{'checklistPage.expect2'|translate}}</li>
                    <li>{{'checklistPage.expect3'|translate}}</li>
                    <li>{{'checklistPage.expect4'|translate}}</li>
                    <li>{{'checklistPage.expect5'|translate}}</li>
                    <li>{{'checklistPage.expect6'|translate}}<a href="/checklist/#covid" style="color: #5c0931; text-decoration: none;"> {{'checklistPage.click here'|translate}} </a></li>
                    <li>{{'checklistPage.expect7'|translate}}   </li>
                </ul>
                </div>
                <h5 class="iwh-title">{{'checklistPage.FEMALE Applicants'| translate}} </h5>
                <div class="wpb_wrapper">
                <ul class="font-color" >
                    <li>{{'checklistPage.Femaleapplicants1'| translate}}</li>
                    <li>{{'checklistPage.Femaleapplicants2'| translate}}</li>
                    <li>{{'checklistPage.Femaleapplicants3'| translate}}</li>
                    <li>{{'checklistPage.Femaleapplicants4'| translate}}</li>
                </ul>
                </div>
                <h5 class="iwh-title">{{'checklistPage.referral'| translate}} </h5>
                <div class="wpb_wrapper">
                <ul class="font-color" >
                    <li>{{'checklistPage.referral1'| translate}}</li>
                    <li>{{'checklistPage.referral2'| translate}}</li>
                    <li>{{'checklistPage.referral3'| translate}}</li>
                    <li>{{'checklistPage.referral4'| translate}}</li>
                    <li>{{'checklistPage.referral5'| translate}} </li>
                    <li>{{'checklistPage.referral6'| translate}}</li>
                </ul>
                </div>
                <h5 class="iwh-title">{{'checklistPage.restrictions'|translate}}</h5>
                <div class="wpb_wrapper">
                <ul class="font-color"  id="covid">
                    <li>{{'checklistPage.restrictions1'|translate}}</li>
                    <li>{{'checklistPage.restrictions2'|translate}}</li>
                    <li>{{'checklistPage.restrictions3'|translate}}</li>
                    <li>{{'checklistPage.restrictions4'|translate}}</li>
                    <li>{{'checklistPage.restrictions5'|translate}}</li>
                    <li>{{'checklistPage.restrictions6'|translate}}  </li>
                    <li>{{'checklistPage.restrictions7'|translate}}</li>
                    <li>{{'checklistPage.restrictions8'|translate}}</li>
                    <li>{{'checklistPage.restrictions9'|translate}}</li>
                </ul>
                </div>
                <div>
                    <h5 class="iwh-title">{{'checklistPage.Our Response to COVID-19'|translate}}</h5>
                    <div class="wpb_wrapper">
                    <p>{{'checklistPage.To curb the spread of COVID-19, we expect all our applicants to'| translate}} –</p>
                    <ul class="font-color" >
                        <li>{{'checklistPage.COVIDcontent1'| translate}}</li>
                        <li>{{'checklistPage.COVIDcontent2'| translate}}</li>
                        <li>{{'checklistPage.COVIDcontent3'| translate}} </li>
                        <li>{{'checklistPage.COVIDcontent4'| translate}}</li>
                        <li>{{'checklistPage.COVIDcontent5'| translate}}</li>
                        <li>{{'checklistPage.COVIDcontent6'| translate}}</li>
                    </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
