.bulk-table-heading{
    font-size: 18px;
    font-weight: 600;
}

.new-request-table-accept-btn{
    border: 0;
    background-color: transparent;
    color: rgb(36 193 89);
    font-size: 20px;
}
/* .new-request-table-accept-btn:hover{
    background-color: rgb(36 193 89);
    color: white;
    padding: 3px 8px;
    border-radius: 20px;
} */
.new-request-table-delete-btn{
    border: 0;
    background-color: transparent;
    color: rgb(255, 87, 87);
    font-size: 20px;
}

/* .tooltip-inner {
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  padding: 6px 10px;
  color: #fff;
}

.tooltip-accept .tooltip-inner {
  background-color: rgb(36, 193, 89) !important;
}

.tooltip-accept.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: rgb(36, 193, 89) !important;
}

.tooltip-delete .tooltip-inner {
  background-color: rgb(255, 87, 87) !important;
}

.tooltip-delete.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: rgb(255, 87, 87) !important;
} */
