<app-nav></app-nav>
<div class="privacy-policy-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="wpb-wrapper">
            <h1 class="h1"></h1>

            <div class="model-page privacy">
              <!-- <p>{{'privacyPolicyPage.contentText.privacyPolicycontent1'| translate}}</p>
                            <p> {{'privacyPolicyPage.contentText.privacyPolicycontent2'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.What do we use your information for?'| translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.useinformationcontent'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.How do we protect your information?'| translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.protectinformationcontent1'| translate}}</p>
                            <p> {{'privacyPolicyPage.contentText.protectinformationcontent2'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.Do we use cookies?' | translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.cookiesinformation'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.Do we disclose any information to outside parties?'|translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.outsidepartiesinformation'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.Third party links'| translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.thirdpartycontent'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.Children’s Online Privacy Protection Act Compliance'| translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.childrenactcontent'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.Online Privacy Policy Only'| translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.onlineprivacypolicy'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.Terms and Conditions'| translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.Refer to our Terms and Conditions section of the site.'| translate}}</p>
                            <p><strong>{{'privacyPolicyPage.contentText.Your Consent'| translate}}</strong></p>
                            <p>{{'privacyPolicyPage.contentText.consentcontent'| translate}}</p>
                            <p><b>{{'privacyPolicyPage.contentText.Policy Changes'| translate}}</b></p>
                            <p>{{'privacyPolicyPage.contentText.pocicychangecontent'| translate}}</p> -->
              Your privacy is important to Stemz Global DMCC and so is being
              transparent about how we collect, use, and share information about
              you. This policy is intended to help you understand:
              <br />
              <br />
              1. What information we collect about you <br />
              2. How we use the information we collect <br />
              3. How we share information we collect <br />
              4. How do we store and secure the information we collect <br />
              5. How to access and control your information <br />6. How do we
              transfer information we collect internationally <br />7. Other
              important privacy information <br />
              <br />
              This privacy policy (“Privacy Policy”) covers the information we
              collect about you when you use our products or services or our
              site,
              <a
                style="color: black"
                target="_blank"
                href="https://www.qatarmedicalcenter.com/"
                >www.<strong>qatarmedicalcenter.com</strong></a
              >
              (the "Site") and our app QMC. We and us refers to Stemz and any of
              its corporate affiliates. <br /><br />
              We offer necessary assistance in conducting medical tests and
              vaccinations that are mandated for visa applicants by governments
              and diplomatic missions. By visiting the Website/App or going
              through the Privacy Policy, as detailed below, you agree to be
              bound by this Privacy Policy and to the use and disclosure of your
              personal information in accordance with the Privacy Policy.<br />
              <br />
              This Privacy Policy applies to information acquired from visa
              applicants that have completed the registration process on the
              Site or other websites from where they have been redirected to the
              Site. <br />
              <br />
              <strong>A. Interpretation and Definitions</strong><br />
              <strong>1. Interpretation</strong><br />
              The words of which the initial letter is capitalized have meanings
              defined under the following conditions. The following definitions
              shall have the same meaning regardless of whether they appear in
              singular or in plural.<br /><br />
              <strong>2. Definitions</strong><br />
              For the purposes of this Privacy Policy: <br />
              <br />
              a)<strong>App</strong> means the web application named QMC. <br />
              b)
              <strong>Account</strong> means a unique account created for You to
              access our Service or parts of our Service.<br />
              c) <strong>Affiliate</strong> means an entity that controls, is
              controlled by or is under common control with a party, where
              "control" means ownership of 50% or more of the shares, equity
              interest or other securities entitled to vote for election of
              directors or other managing authority.<br />
              d) <strong>Company</strong> (referred to as either "the Company",
              "We", "Us" or "Our" in this Agreement) refers to Stemz Global
              DMCC. <br />e) <strong>Cookies</strong> are small files that are
              placed on Your computer, mobile device or any other device by a
              website, containing the details of Your browsing history on that
              website among its many uses.<br />
              f)<strong> Country</strong> refers to India.<br />
              g) <strong>Device</strong> means any device that can access the
              Service such as a computer, a cellphone or a digital tablet.<br />
              h)<strong> Personal Data </strong>is any information that relates
              to an identified or identifiable individual.<br />
              i)<strong> Privacy Policy </strong> means this policy. <br />
              j) <strong>Service</strong> refers to the services provided
              through the App.<br />
              k)<strong>Service Provider</strong> means any natural or legal
              person who processes the data on behalf of the Company. It refers
              to third-party companies or individuals employed by the Company to
              facilitate the Service, to provide the Service on behalf of the
              Company, to perform services related to the Service or to assist
              the Company in analyzing how the Service is used.<br />

              l) <strong>Usage Data</strong> refers to data collected
              automatically, either generated by the use of the Service or from
              the Service infrastructure itself (for example, the duration of a
              page visit). <br />m)<strong> Website </strong> or
              <strong>Site Statement</strong> refers to the QMC website,
              accessible from
              <a
                style="color: black"
                target="_blank"
                href="https://qatarmedicalcenter.com/home"
                ><strong>https://qatarmedicalcenter.com/home</strong></a
              >
              <br />
              n)<strong>You </strong> means the individual accessing or using
              the Service, or the company, or other legal entity on behalf of
              which such individual is accessing or using the Service, as
              applicable. <br /><br />
              <strong>B. Collecting and Using Your Personal Data</strong><br />
              <strong> 1. Types of Data Collected</strong> <br /><strong
                >a. Personal Data</strong
              ><br /><br />
              While using Our Service, We may ask You to provide Us with certain
              personally identifiable information that can be used to contact or
              identify You. Personally identifiable information may include, but
              is not limited to: <br />
              <strong>• </strong>Email address <br /><strong>•</strong> First
              name and last name <br /><strong>• </strong>Phone number
              <br /><strong>•</strong> Date of Birth <br /><strong>•</strong>
              Passport Number <br /><strong>•</strong> Visa Number <br /><strong
                >•</strong
              >
              Usage Data <br /><br /><strong>b. Usage Data</strong> <br />Usage
              Data is collected automatically when using the Service.
              <br /><br />When You access the Service by or through a mobile
              device, We may collect certain information automatically,
              including, but not limited to, the type of mobile device You use,
              Your mobile device unique ID, the IP address of Your mobile
              device, Your mobile operating system, the type of mobile Internet
              browser You use, unique device identifiers and other diagnostic
              data. <br /><br />We may also collect information that Your
              browser sends whenever You visit our Service or when You access
              the Service by or through a mobile device. <br /><br /><strong
                >c. Tracking Technologies and Cookies</strong
              ><br /><br />
              We use Cookies and similar tracking technologies to track the
              activity on Our Service and store certain information. Tracking
              technologies used are beacons, tags, and scripts to collect and
              track information and to improve and analyze Our Service. The
              technologies We use may include:<br /><br />
              <strong> • Cookies or Browser Cookies.</strong> A cookie is a
              small file placed on Your Device. You can instruct Your browser to
              refuse all Cookies or to indicate when a Cookie is being sent.
              However, if You do not accept Cookies, You may not be able to use
              some parts of our Service. Unless you have adjusted Your browser
              setting so that it will refuse Cookies, our Service may use
              Cookies.<br /><br />

              We use both Session and Persistent Cookies for the purposes set
              out below:<br /><br /><strong>
                • Necessary / Essential Cookies</strong
              ><br /><br />
              Type: Session Cookies <br /><br />Administered by: Us
              <br /><br />Purpose: These Cookies are essential to provide You
              with services available through the Website and to enable You to
              use some of its features. They help to authenticate users and
              prevent fraudulent use of user accounts. Without these Cookies,
              the services that You have asked for cannot be provided, and We
              only use these Cookies to provide You with those services.<br /><br /><strong>
                • Cookies Policy / Notice Acceptance Cookies </strong
              ><br /><br />Type: Persistent Cookies <br /><br />Administered by:
              Us<br /><br />
              Purpose: These Cookies identify if users have accepted the use of
              cookies on the Website. <br /><br /><strong
                >• Functionality Cookies </strong
              ><br /><br />Type: Persistent Cookies<br /><br />
              Administered by: Us <br /><br />Purpose: These Cookies allow us to
              remember choices You make when You use the Website, such as
              remembering your login details or language preference. The purpose
              of these Cookies is to provide You with a more personal experience
              and to avoid You having to re-enter your preferences every time
              You use the Website. <br /><br />For more information about the
              cookies we use and your choices regarding cookies, please visit
              our Cookies Policy or the Cookies section of our Privacy Policy.
              <br /><br /><strong>2. Use of Your Personal Data</strong
              ><br /><br />
              a. The Company may use Personal Data for the following
              purposes:<br /><br /><strong>
                • To provide and maintain our Services,</strong
              >
              including to monitor the usage of our Services.<br /><strong>
                • To manage Your Account:</strong
              >
              to manage Your registration as a user of the Service. The Personal
              Data You provide can give You access to different functionalities
              of the Services that are available to You as a registered user.<br /><strong
                >• For the performance of a contract:</strong
              >
              the development, compliance and undertaking of visa medical status
              checks or any other Services You have purchased from Us or of any
              other contract with Us through the Services.<br /><strong>
                • To contact You: </strong
              >To contact You by email, telephone calls, SMS, or other
              equivalent forms of electronic communication, such as a mobile
              application's push notifications regarding your appointment,
              medical application and its status, updates or informative
              communications related to the functionalities, products or
              contracted services, including the security updates, when
              necessary or reasonable for their implementation.

              <br /><strong> • To provide You</strong> with news, special offers
              and general information about other goods, services and events
              which we offer that are similar to those that you have already
              purchased or enquired about unless You have opted not to receive
              such information.<br /><strong>• To manage Your requests:</strong>
              To attend and manage Your requests to Us.<br /><strong>
                • For business transfers: </strong
              >We may use Your information to evaluate or conduct a merger,
              divestiture, restructuring, reorganization, dissolution, or other
              sale or transfer of some or all of Our assets, whether as a going
              concern or as part of bankruptcy, liquidation, or similar
              proceeding, in which Personal Data held by Us about our Service
              users is among the assets transferred.<br /><strong>
                • For other purposes:</strong
              >
              We may use Your information for other purposes, such as data
              analysis, identifying usage trends, determining the effectiveness
              of our promotional campaigns and to evaluate and improve our
              Service, products, services, marketing and your experience.<br /><br />
              b. We do not share your information with third parties except as
              necessary to provide our services or as required by law. Your
              privacy is important to us, and we are committed to keeping your
              information confidential and secure. We may share Your personal
              information in the following situations:<br /><br /><strong
                >• With Service Providers:
              </strong>
              We may share Your personal information with Service Providers to
              monitor and analyze the use of our Service, to contact You.<br /><strong
                >• For business transfers:</strong
              >
              We do not share your information with third parties except as
              necessary to provide our services or as required by law. Your
              privacy is important to us, and we are committed to keeping your
              information confidential and secure. We may share Your personal
              information in the following situations:<br /><strong>
                • With Affiliates: </strong
              >We may share Your information with Our affiliates, in which case
              we will require those affiliates to honor this Privacy Policy.
              Affiliates include Our parent company and any other subsidiaries,
              joint venture partners or other companies that We control or that
              are under common control with Us.<br /><strong>
                • With business partners: </strong
              >We may share Your information with Our business partners to offer
              You certain products, services or promotions.<br /><strong>
                • With Your consent:</strong
              >
              We may disclose Your personal information for any other purpose
              with Your consent.<br /><br /><strong>
                3. Retention of Your Personal Data </strong
              ><br /><br />The Company will retain Your Personal Data only for
              as long as is necessary for the purposes set out in this Privacy
              Policy. We will retain and use Your Personal Data to the extent
              necessary to comply with our legal obligations (for example, if we
              are required to retain your data to comply with applicable laws),
              resolve disputes, and enforce our legal agreements and policies.
              To protect the safety and security of our Users on and off our
              Services, we implement a safety retention window of three months.
              During this period, account information will be retained although
              the account will of course not be visible on our Services
              anymore.<br /><br />

              In practice, We don’t display your Personal Data (following the
              three-month safety retention window), unless:
              <br />
              <br />
              <strong>•</strong> We must keep it to comply with applicable
              law;<br />
              <strong>•</strong> We must keep it to evidence our compliance with
              applicable law;<br />
              <strong>•</strong> There is an outstanding issue, claim or dispute
              requiring us to keep the relevant Personal Data until it is
              resolved; or<br />
              <strong>•</strong> The Personal Data must be kept for our
              legitimate business interests, such as fraud prevention and
              enhancing our Users safety and security.<br />
              <br />
              The Company will also retain Usage Data for internal analysis
              purposes. Usage Data is generally retained for a shorter period of
              time, except when this data is used to strengthen the security or
              to improve the functionality of Our Service, or We are legally
              obligated to retain this data for longer time periods.<br /><br /><strong
                >4. Transfer of Your Personal Data</strong
              >
              <br /><br />
              Your information, including Personal Data, is processed at the
              Company's operating offices and in any other places where the
              parties involved in the processing are located. It means that this
              information may be transferred to and maintained on computers
              located outside of Your state, province, country or other
              governmental jurisdiction where the data protection laws may
              differ than those from Your jurisdiction.<br /><br />
              Your consent to this Privacy Policy followed by Your submission of
              such information represents Your agreement to that transfer.<br /><br />
              The Company will take all steps reasonably necessary to ensure
              that Your data is treated securely and in accordance with this
              Privacy Policy and no transfer of Your Personal Data will take
              place to an organization or a country unless there are adequate
              controls in place including the security of Your data and other
              personal information.<br /><br /><strong>
                5. Delete Your Personal Data </strong
              ><br /><br />You have the right to delete or request that We
              assist in deleting the Personal Data that We have collected about
              You.<br /><br />
              Our Service may give You the ability to delete certain information
              about You from within the Service. <br /><br />You may update,
              amend, or delete Your information at any time by signing in to
              Your Account, if you have one, and visiting the account settings
              section that allows you to manage Your personal information. You
              may also contact Us to request access to, correct, or delete any
              personal information that You have provided to Us.<br /><br />
              Please note, however, that We may need to retain certain
              information when we have a legal obligation or lawful basis to do
              so.<br /><br /><strong>
                6. Disclosure of Your Personal Data </strong
              ><br /><br /><strong> a. Business Transactions </strong
              ><br /><br />If the Company is involved in a merger, acquisition
              or asset sale, Your Personal Data may be transferred. We will
              provide notice before Your Personal Data is transferred and
              becomes subject to a different Privacy Policy.<br /><br /><strong>
                b. Law enforcement</strong
              ><br /><br />
              Under certain circumstances, the Company may be required to
              disclose Your Personal Data if required to do so by law or in
              response to valid requests by public authorities (e.g. a court or
              a government agency).<br /><br /><strong>
                c. Other legal requirements </strong
              ><br /><br />The Company may disclose Your Personal Data in the
              good faith belief that such action is necessary to:<br /><br />
              • Comply with a legal obligation<br />
              • Protect and defend the rights or property of the Company <br />
              • Prevent or investigate possible wrongdoing in connection with
              the Service<br />
              • Protect the personal safety of Users of the Service or the
              public <br />
              • Protect against legal liability<br />
              <br />
              <strong> d. Security of Your Personal Data</strong><br />
              <br />
              The security of Your Personal Data is important to Us, but
              remember that no method of transmission over the Internet, or
              method of electronic storage is 100% secure. While We strive to
              use commercially acceptable means to protect Your Personal Data,
              We cannot guarantee its absolute security. <br />
              <br />
              <strong> e. Children's Privacy</strong> <br /><br />Our Services
              are restricted to users who are 16 years of age or older. We do
              not knowingly permit users under the age of 16 to use our Services
              and we do not knowingly collect personal information from anyone
              under the age of 16. If you suspect that a user is under the age
              of 16, please use the reporting mechanism available through our
              Services..<br /><br />
              If We need to rely on consent as a legal basis for processing Your
              information and Your country requires consent from a parent, We
              may require Your parent's consent before We collect and use that
              information.<br /><br /><strong>
                f. Links to Other Websites</strong
              ><br /><br />
              Our Service may contain links to other websites that are not
              operated by Us. If You click on a third party link, You will be
              directed to that third party's site. We strongly advise You to
              review the Privacy Policy of every site You visit.<br /><br />
              We have no control over and assume no responsibility for the
              content, privacy policies or practices of any third party sites or
              services.<br /><br /><strong>
                g. Changes to this Privacy Policy </strong
              ><br /><br />We may update Our Privacy Policy from time to time.
              We will notify You of any changes by posting the new Privacy
              Policy on this page.<br /><br />
              We will let You know via email and/or a prominent notice on Our
              Service, prior to the change becoming effective and update the
              "Last updated" date at the top of this Privacy Policy.<br /><br />
              You are advised to review this Privacy Policy periodically for any
              changes. Changes to this Privacy Policy are effective when they
              are posted on this page. <br /><br /><strong>h. Contact Us</strong
              ><br />
              If you have any questions about this Privacy Policy, You can
              contact us by writing to
              <a
                style="color: black"
                target="_blank"
                href="info@qatarmedicalcenter.com/"
                ><strong>info&#64;qatarmedicalcenter.com</strong></a
              >, or by giving us a call on +91 44 61331333.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
