.h1 {
    margin-top: 20px;
    margin-bottom: 10px
}   
.model-page {
    font-size: 15px;
    line-height: 28px;
    color: #777777;
    margin-bottom: 10px;
}

p{
    text-align: justify !important;
}
div{
    text-align: justify !important;
}

h1,h2,h3,h4,h5{
    text-align: justify !important;
}
.privacy-policy-page .model-page{
color:#000000  !important;
font-family: Montserrat, sans-serif ; 
font-size:15px !important;
font-weight: 400 !important;
padding-left: 40px;
padding-right: 40px;
}