.bannerBg {
    background-image: url("../../assets/images/Landing-page-image-1920.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    // background-size: cover !important;
    height: calc(100vh - 315px);
    position: relative;
}

.container:after {
    content: "";
    position: absolute;
    background-color: hsla(0, 0%, 100%, .5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: table;
}

.modal-header button {
    color: #fff !important;
}

.homeBtn a i {
    font-size: 24px !important;
}

.homeBtn div {
    padding: 2px;
    a {
        width: 100%;
    }
}

.bannerHead {
    width: 50%;
    margin: 0 auto;
    font-size: 54px;
    font-weight: bold;
    color: #fff;
    background: #5000186e;
    position: relative;
    top: -320px;
    text-align: center;
    /* letter-spacing: 4px; */
    padding: 9px;
}

.bannerTxt {
    width: 40%;
    margin: 0 auto;
    position: relative;
    top: -270px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.home-page {
    overflow-x: hidden;
}

.contentSection {
    position: relative;
    top: -110px;
}

.contentSection1 {
    position: relative;
    top: -220px;
    // right: -100px;
}

.iwh-title {
    color: #303030;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}

.iwh-title1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

.wpb_wrapper1 p {
    color: #ffffff;
    font-size: 15px;
    line-height: 28px;
}

.wpb_wrapper p {
    color: #777777;
    font-size: 15px;
    line-height: 28px;
}

.iframe {
    margin-top: 40px;
}

.modal-header {
    background: #521231;
    color: #fff;
    text-align: center;
}

// .modal-footer {
//     justify-content: center;
//     background: #521231;
//     color: #fff;
//     text-align: center;
// }
.modal-footer {
    justify-content: center;
}

.modal-footer button {
    background: #521231;
}

.qmcBtn1 {
    a:hover {
        color: #777;
        text-decoration: none;
        // background: #600435 !important;
    }
    a {
        color: #5c0931;
        padding: 6px 18px;
        margin: 10px;
    }
}

.qmcBtn {
    a:hover {
        color: #fff;
        text-decoration: none;
        background: #5c0931 !important;
    }
    a {
        padding: 6px 18px;
    }
}

.qmcBtn2 {
    // a:hover {
    //     color: #fff;
    //     text-decoration: none;
    //     background: #5c0931 !important;
    // }
    a {
        padding: 6px 18px;
    }
}

.bgt-dark {
    background: #5c0931;
    font-size: 16px;
}

.tooltipContent .col img {
    width: 100%;
    cursor: pointer;
}

.tooltip-align {
    align-items: stretch;
}

.emptySpacer {
    height: 45px;
}

.row img {
    width: 100%;
}

.radiusBtn.pinkBg1 {
    margin: 14px;
    a {
        background-color: #3e001dcc;
        border-radius: 10px;
        transition: width all 400ms;
        color: #f5f5f5;
        padding: 18px 12px;
        text-decoration: none;
        border-right: 1px solid;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: #7b5e6d;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }
}

.radiusBtn.pinkBg {
    margin: 14px;
    a {
        background-color: #9d004c;
        padding: 6px 20px;
        border-radius: 10px;
        // border: 1px solid #ff0000;
        /* -webkit-transition: all 400ms; */
        transition: width all 400ms;
        color: #fff;
        margin: 12px;
        cursor: pointer;
    }
}

.bg-pink {
    .iwh-title {
        padding: 12px;
        color: #fff;
    }
    .wpb_wrapper {
        p {
            color: #fff;
        }
    }
}

.separator {
    width: 100%;
    border-bottom: 1px solid;
    padding: 15px;
    margin-bottom: 25px;
}

.fontWeight400 {
    font-weight: 400;
}

.mapIcon {
    text-align: center;
    margin-bottom: 25px;
}

.mapIcon img {
    width: auto !important;
}

.addrHeading h3 a {
    font-size: 16px;
    color: #fff;
}

.addrHeading h3 a:hover {
    text-decoration: none;
}

.addrDescribtion {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

.syletaddress {
    width: 200px;
    align-items: center;
    padding-left: 20px;
    margin-left: 65px;
}

.addrHeading {
    text-align: center;
    font-size: 16px;
}

.tooltip-align {
    text-align: left;
}

.homebutton {
    display: flex;
    place-content: center;
    align-items: center;
    height: 95px !important;
}

@media screen and (max-width:600px) {
    .bannerHead {
        width: 90%;
        font-size: 30px;
        top: -285px;
    }
    .bannerTxt {
        width: 80%;
    }
}

@media screen and (min-width: 600px) {
    .underline {
        border-bottom: 1px solid;
        padding: 15px;
        margin-bottom: 25px;
    }
}

/////////////////////////map css/////////////////////////////////////////////////////////
///
.index__map {
    padding-bottom: 0;
}

.vi__fullwidth_block {
    padding: 60px 0 50px;
}

.index__map .index_map_offices {
    width: 1446px;
    max-width: 100%;
    // margin: 0 auto;
}

.index_map_offices {
    // overflow: hidden;
    position: relative;
    margin-left: 170px;
    height: 780px;
}

.index_map_offices #map {
    position: absolute;
    top: 0;
    left: 0;
    // width: 1446px;
    height: 840px;
    overflow: visible !important;
}

.index__map__img {
    background-image: url(../../assets/images/background_map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.index_map_offices .map_offices_mobile {
    opacity: 0;
    pointer-events: none;
}

img {
    vertical-align: middle;
}

.index_map_offices .map-handle {
    width: 1446px;
    height: 840px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: all-scroll;
}

.index_map_offices .map-offices-dubai {
    left: 63.62379%;
    top: 50.71429%;
}

.index_map_offices .index_map_office {
    position: absolute;
}

.index_map_offices .offices_position.active {
    z-index: 3;
    pointer-events: none;
}

.index_map_offices .offices_position {
    background-image: none;
    position: absolute;
    left: -9px;
    bottom: 0;
    cursor: pointer;
}

.index a {
    color: #1659cd;
    text-decoration: none;
}

.popupvisible {
    display: block !important;
}

.index_map_offices .map-offices-Islamabad {
    // left: 68.5%;
    // top: 35.1%;
    left: 44.5%;
    top: 53.1%;
}

.index_map_offices .map-offices-Dhaka {
    // left: 73.9%;
    // top: 39.5%;
    left: 53.9%;
    top: 59.5%;
}

.index_map_offices .map-offices-Sylhet {
    left: 53.9%;
    top: 56.5%;
}

.index_map_offices .map-offices-Philippines {
    // left: 82.7%;
    // top: 44.5%;
    left: 70.1%;
    top: 67.1%;
}

.index_map_offices .map-offices-Nepal {
    // left: 72.7%;
    // top: 37.15%;
    left: 51.7%;
    top: 56.75%;
}

.index_map_offices .map-offices-Chennai {
    // left: 71.1%;
    // top: 45.19%;
    left: 49.7%;
    top: 67.99%;
}

.index_map_offices .map-offices-Colombo {
    // left: 71.1%;
    // top: 47.9%;
    left: 49.9%;
    top: 72.4%;
}

.index_map_offices .map-offices-Karachi {
    // left: 66.9%;
    // top: 40.1%;
    left: 42.3%;
    top: 60.1%;
}

.index_map_offices .map-offices-new-delhi {
    // left: 70.12448%;
    // top: 37.57143%;
    left: 47.12448%;
    top: 56.57143%;
}

.index_map_offices .map-offices-Mumbai {
    // left: 68.9%;
    // top: 43.1%;
    left: 45.9%;
    top: 65.1%;
}

.index_map_offices .map-offices-Hyderabad {
    // left: 70.38%;
    // top: 43.5%;
    left: 48.38%;
    top: 66.5%;
}

.index_map_offices .map-offices-Kochi {
    // left: 70.08%;
    // top: 46.5%;
    left: 47.8%;
    top: 69.9%;
}

.index_map_offices .map-offices-lucknow {
    // left: 72.12448%;
    // top: 38.57143%;
    left: 50.98%;
    top: 58.5%;
}

.index_map_offices .map-offices-Kolkata {
    // left: 73.12448%;
    // top: 40.57143%;
    left: 53.12448%;
    top: 61.57143%;
}

// .index_map_offices .offices_position img {
//     display: block !important;
//     position: relative;
//     background: none;
//     overflow: hidden;
//     width: 24px;
//     height: 24px;
// }
// .index_map_offices .offices_position.active img {
//     color: #32c9c7;
// }
.index_map_offices .offices_position.active+.popover {
    z-index: 2;
}

.index_map_offices .popover.left,
.index_map_offices .popover.right {
    width: 300px !important;
    min-width: 300px !important;
}

.index_map_offices .popover {
    top: -37px !important;
    left: -19px !important;
    right: auto;
    margin: 0;
    border: 0;
    padding: 10px;
}

.fade.in {
    opacity: 1;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 236px;
    padding: 1px;
    font-weight: normal;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 16px;
}

.fade {
    opacity: 0;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    -webkit-transition: opacity .15s linear;
    -ms-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.index_map_offices .popover .arrow {
    border: none;
    top: 18px;
    margin: 0;
    right: 10px;
    left: auto;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
}

.popover>.arrow {
    border-width: 11px;
}

.index_map_offices .popover .popover-content {
    padding: 0;
    font-size: 13px;
    line-height: 1.3;
    // background: #fff url(/images/business/homepage/icons8_marker_1.png) no-repeat left top;
}

.index_map_offices .popover .popover-content p {
    color: #23232a;
    margin-bottom: 16px;
    padding: 0 10px 0 30px;
}

.index_map_offices .popover .popover-content p b {
    font-size: 18px;
    display: block;
    font-weight: normal;
    padding: 5px 0 15px;
}

.index_map_offices__title {
    color: #a4a4a4;
    display: inline-block;
    min-width: 40px;
}

.index_map_offices__phone {
    direction: ltr;
    display: inline-block;
}

// .index_map_offices .offices_position.active img {
//     color: #32c9c7;
// }
.index_map_offices .offices_position:hover+.offices_text {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    bottom: 0;
    color: #ff0000;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1)
}

// height:auto;
.index_map_offices .offices_position:hover {
    color: #ff0000;
}

.index_map_offices .offices_position:hover+.offices_text:hover {
    text-decoration: none
}

.index_map_offices .offices_text {
    display: none
}

.index_map_offices .offices_position svg {
    display: block !important;
    position: relative;
    background: none;
    overflow: hidden;
    width: 18px;
    height: 27px
}

.index_map_offices .offices_position svg::before {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    bottom: 0
}

.index_map_offices .offices_position:hover svg {
    color: #ff0000
}

.index_map_offices .offices_position.active svg {
    color: #32c9c7
}

.m-l170 {
    margin-left: 170px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed !important;
    pointer-events: none;
}

.floater-container {
    // height: 250px;
    top: 50%;
    margin-top: -125px;
    position: fixed;
    z-index: 100;
    display: flex;
    right: 0px;
}

.floater-container .left {
    // height: calc(100vh - 350px);
    border-radius: 10px 0 0 10px;
    background-color: #531531;
    padding: 5px 0;
    min-width: 10px;
    height: 250px;
}

.floater-container .left img {
    padding: 2px 5px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    display: none;
}

.floater-container .left img.out-btn {
    display: block;
}

.floater-container .right {
    background-color: #fff;
    // height: calc(100vh - 350px);
    width: 350px;
    text-align: center;
    padding: 15px 0px;
    height: 250px;
}

.floater-container .right img {
    max-width: 100%;
    height: auto;
}

.floater-container .right img.download-text {
    max-width: 70%;
    padding-bottom: 10px;
    height: auto;
}

.floater-container .right img.download-qr {
    max-width: 45%;
    height: auto;
}

.floater-container .right table {
    max-width: 70%;
    margin: auto;
}

.floater-container .right table td img {
    max-width: 90%;
    height: auto;
}