     :root {
         --purple-color: #5c249a;
         --light-purple-color: #340c62;
     }

     .navbar {
         height: 60px;
         background: var(--purple-color);
         border-radius: 12px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px !important;
         margin-bottom: 20px;
         font-family: "IBM Plex Sans", Arial, sans-serif !important;
     }

     .navbar-left .logo {
         /* width: 70%; */
         height: 30px;
         margin-left: 10px;
     }

     /* Profile Section */
     .profile {
         display: flex;
         align-items: center;
         gap: 5px;
         position: relative;
     }

     .profile-img {
         width: 42px;
         height: 42px;
         border-radius: 50%;
         object-fit: cover;
         border: 2px solid rgb(201, 201, 201);
     }

     /* Dropdown Menu */
     .dropdown {
         position: relative;
     }

     .dropdown-btn {
         background: none;
         border: none;
         color: white;
         font-size: 20px;
         cursor: pointer;
         margin-right: 10px;
     }

     .dropdown-menu {
         position: absolute;
         top: 45px;
         right: 0;
         background: #fff;
         border-radius: 10px;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.178);
         display: none;
         flex-direction: column;
         min-width: 150px;
         overflow: hidden;
         z-index: 1;
     }

     .dropdown-menu a {
         padding: 10px 15px;
         text-decoration: none;
         color: #333;
         transition: 0.2s;
     }

     .dropdown-menu a:hover {
         background-color: #dfc7fa;
         color: black;
     }

     .dropdown:hover .dropdown-menu {
         display: flex;
     }


     .navbar-right {
         display: flex;
         align-items: center;
         gap: 15px;
     }

     @media (max-width: 992px) {
         .navbar {
             /* left: 100px; */
             /* right: 15px; */
             padding: 0 20px;
         }

         .search-box input {
             width: 160px;
         }
     }

     @media (max-width: 768px) {
         .navbar {
             /* left: 90px; */
             /* right: 10px; */
             height: 65px;
         }

         .navbar-left h2 {
             font-size: 18px;
         }

         .search-box {
             display: none;
         }

         .navbar-right {
             gap: 15px;
         }

         .profile-img {
             width: 38px;
             height: 38px;
         }


         .navbar-left .logo {
             height: 25px;
         }
     }

     @media (max-width: 576px) {
         .navbar {
             /* left: 80px; */
             /* right: 8px; */
             height: 60px;
             padding: 0 15px;
         }

         .navbar-left h2 {
             display: none;
         }

         .profile-img {
             width: 35px;
             height: 35px;
         }

         .dropdown-menu {
             right: -20px;
         }
     }

     /*  */

     .dashboard-main {
         /* background-color: #dfdede; */
         height: 100vh;
         width: 100%;
         display: flex;
         flex-direction: column;
         padding-bottom: 30px;
         overflow: scroll;
     }

     .navbar {
         flex-shrink: 0;
     }

     .footer {
         flex-shrink: 0;
     }

     .dashboard-content {
         flex: 1;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
     }



     /* chart */

     .checking {
         background-color: white;
         border-radius: 10px;
         padding: 10px;

     }

     .chart-container {
         width: 100%;
         height: 70vh;
         min-height: 300px;
     }

     #main {
         width: 100%;
         height: 100%;
         border-radius: 10px;
     }

     @media (max-width: 768px) {
         .chart-container {
             width: 95%;
             height: 60vh;
         }
     }

     @media (max-width: 480px) {
         .chart-container {
             width: 98%;
             height: 50vh;
         }
     }

     .dash-board-card-container1 {
         display: flex;
         justify-content: space-between;
         padding: 24px;
         border-radius: 12px;
         background-color: white;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
         color: black;
         transition: transform 0.2s, box-shadow 0.2s;
         cursor: pointer;
         overflow: hidden;
         font-family: "IBM Plex Sans", Arial, sans-serif !important;
     }

     .dash-board-card-container1:hover {
         border-left: 5px solid green;
         transform: translateY(-5px);
         box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
     }

     .dash-board-card-container2 {
         display: flex;
         justify-content: space-between;
         padding: 24px;
         border-radius: 12px;
         background-color: white;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
         color: black;
         transition: transform 0.2s, box-shadow 0.2s;
         cursor: pointer;
         overflow: hidden;
     }

     .dash-board-card-container2:hover {
         border-left: 5px solid orange;
         transform: translateY(-5px);
         box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
     }

     .dash-board-card-container3 {
         display: flex;
         justify-content: space-between;
         padding: 24px;
         border-radius: 12px;
         background-color: white;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
         color: black;
         transition: transform 0.2s, box-shadow 0.2s;
         cursor: pointer;
         overflow: hidden;
     }

     .dash-board-card-container3:hover {
         border-left: 5px solid rgb(248, 74, 74);
         transform: translateY(-5px);
         box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
     }

     .card-text {
         opacity: 0.8;
     }

     .card-text i {
         margin-bottom: 10px;
         font-size: 1.5rem;
         color: #333;
     }

     .card-text h4 {
         font-weight: 600;
         margin-top: 10px;
     }

     .card-text h3 {
         font-size: 18px;
         font-weight: 600;
         margin-top: 10px;
     }

     .card-text p {
         font-size: 1rem;
         opacity: 0.85;
         margin-top: 6px;
     }

     .dash-board-icon-right1 {
         font-size: 2rem;
         background-color: green;
         color: white;
         padding: 0px 7px;
         border-radius: 10px;
     }

     .dash-board-icon-right2 {
         font-size: 2rem;
         background-color: orange;
         color: white;
         padding: 0px 7px;
         border-radius: 10px;
     }

     .dash-board-icon-right3 {
         font-size: 2rem;
         background-color: rgb(248, 74, 74);
         color: white;
         padding: 0px 7px;
         border-radius: 10px;
     }

     .landing-navbaritems {
         color: rgb(240, 238, 238);
         background-color: rgba(180, 178, 178, 0.349);
         padding: 5px 13px;
         border-radius: 5px;
         cursor: pointer;
     }

     .landing-dropdown-zone {
         color: white;
     }

     .landing-dropdown-zone:hover {
         color: white;
         background-color: rgba(180, 178, 178, 0.349);
     }

     .footer {
         height: 50px;
         background: white;
         border-radius: 12px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 20px;
     }

     .landing-custom-card {
         /* width: 350px; */
         height: 350px;
         background-color: #fff;
         border-radius: 18px;
         box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
         display: flex;
         /* justify-content: center; */
         align-items: center;
         overflow: hidden;
         position: relative;
         transition: all 0.3s ease;
         padding: 20px;
     }


     .landing-animated-card::before {
         content: "";
         position: absolute;
         top: -100%;
         left: -100%;
         width: 100%;
         height: 100%;
         background: linear-gradient(to bottom right, gray, rgb(228, 227, 227));
         transform: rotate(-45deg);
         transition: all 0.4s ease;
         z-index: -1;
     }

     .landing-animated-card:hover::before {
         top: 0;
         left: 0;
     }

     .landing-animated-card:hover {
         transform: scale(1.05);
         box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
     }


     .landing-content {
         padding: 25px;
         text-align: center;
     }

     .landing-zone-img {
         width: 150px;
         /* display: block; */
         margin: 0 auto;
         margin-top: 10px;
         /* position: relative; */
     }


     .landing-heading {
         font-size: 15px;
         color: #636262;
         font-weight: 600;
     }

     .landing-explore-btn {
         /* display: flex; */
         /* justify-content: center; */
         /* align-items: center; */
         gap: 5px;
         padding: 5px 15px;
         border-radius: 50px;
         border: 1px solid rgba(255, 255, 255, 0.3);
         background: var(--purple-color);
         color: white;
         font-size: 16px;
         font-weight: 600;
         cursor: pointer;
         transition: 0.3s ease;
         margin: 0 auto;
         text-decoration: none !important;
     }


     .landing-explore-btn:hover {
         box-shadow: 0 0 18px var(--purple-color);
         transform: translateY(-2px);
     }

     .landing-explore-btn i {
         transition: transform 0.3s ease;
     }

     .landing-explore-btn:hover i {
         transform: translateX(6px);
     }

     .landing-explore-btn1 {
         /* display: flex; */
         /* justify-content: center; */
         /* align-items: center; */
         gap: 5px;
         padding: 5px 15px;
         border-radius: 50px;
         border: 1px solid rgba(255, 255, 255, 0.3);
         background: var(--purple-color);
         color: white;
         font-size: 16px;
         font-weight: 600;
         cursor: pointer;
         transition: 0.3s ease;
         margin: 0 auto;
         text-decoration: none !important;
     }


     .landing-explore-btn1:hover {
         box-shadow: 0 0 18px var(--purple-color);
         transform: translateY(-2px);
     }

     .landing-explore-btn1 i {
         transition: transform 0.3s ease;
     }

     .landing-explore-btn1:hover i {
         transform: translateX(6px);
     }

     /* Card Holder */
     .landing-note-card {
         /* width: 220px; */
         padding: 25px;
         background: white;
         border-radius: 16px;
         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
         position: relative;
         /* transform: rotate(-5deg); */
         transition: 0.3s ease;
     }

     /* Hover effect */
     .landing-note-card:hover {
         transform: rotate(0deg) scale(1.03);
     }

     /* Colored top tint */
     .landing-orange-card {
         background: linear-gradient(180deg, #f2f7ff, #ffffff);
     }

     .landing-blue-card {
         background: linear-gradient(180deg, #f2f7ff, #ffffff);
         text-align: justify;
     }

     /* Pin */
     .landing-pin {
         width: 25px;
         height: 25px;
         background: var(--purple-color);
         border-radius: 50%;
         position: absolute;
         top: -12px;
         left: 50%;
         transform: translateX(-50%);
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
     }

     .landing-blue-card .landing-pin {
         background: var(--purple-color);
     }

     /* Number */
     .landing-note-number {
         font-size: 20px;
         font-weight: bold;
         color: var(--purple-color);
         display: block;
         margin-bottom: 10px;
     }

     .landing-blue-card .landing-note-number {
         color: var(--purple-color);
     }

     /* Title */
     .landing-note-title {
         font-size: 18px;
         font-weight: 600;
         margin-bottom: 8px;
         color: #222;
     }

     /* Description */
     .landing-note-card p {
         font-size: 13px;
         color: #555;
         line-height: 1.5;
     }